<md-dialog aria-label="Device" flex="60">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3 ng-bind="title_dialog" style="color:white;"></h3>
            <span flex></span>
            <md-button type="button" class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_24px.svg') }}"
                         aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <div class="md-dialog-content adddevice-dialog" layout="column">

            <div layout layout-sm="row" flex="15">
                <md-input-container flex>
                    <label>General Name</label>
                    <input ng-model="newDeviceConfig.deviceGeneralName">
                </md-input-container>
                <md-input-container flex>
                    <label>Manufacturer</label>
                    <input ng-model="newDeviceConfig.properties.manufacturer">
                </md-input-container>
                <md-input-container flex>
                    <label>Type</label>
                    <input ng-model="newDeviceConfig.deviceType">
                </md-input-container>
            </div>

            <div layout layout-sm="row" flex="15">
                <md-input-container flex>
                    <label>SNMP Port</label>
                    <input ng-model="newDeviceConfig.configuration.snmpPort">
                </md-input-container>
                <md-input-container flex>
                    <label>Server Port</label>
                    <input ng-model="newDeviceConfig.configuration.quartzPort">
                </md-input-container>
                <md-input-container flex>
                    <label>Ports Count</label>
                    <input ng-model="newDeviceConfig.properties.portsCount">
                </md-input-container>
                <md-button type="button" class="md-icon-button" ng-click="loadPorts()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_cached_black_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                    <md-tooltip>Load Ports</md-tooltip>
                </md-button>
            </div>

            <md-tabs md-selected="selectedIndex" md-center-tabs md-swipe-content md-dynamic-height>
                        <md-tab ng-repeat="port in newDeviceConfig.properties.ports">
                            <md-tab-label> {% raw %}{{port.portID}}{% endraw %}</md-tab-label>

                            <md-tab-body>

                                <div class="port-tab tab{% raw %}{{$index%4}}{% endraw %}" layout="column">

                                    <div layout layout-sm="row" flex="15">

                                        <md-input-container layout-padding flex>
                                            <label>Port ID</label>
                                            <input ng-model="port.portID" ng-disabled="true">
                                        </md-input-container>
                                        <md-input-container layout-padding flex>
                                            <label>Port Speed</label>
                                            <md-select ng-model="port.portSpeed"
                                                       ng-disabled="!selectedItemDevice[$index]">
                                                <md-option ng-bind="speed"
                                                           ng-repeat="speed in port.config.portSpeed"></md-option>
                                            </md-select>
                                        </md-input-container>

                                    </div>
                                </div>

                            </md-tab-body>
                        </md-tab>
                    </md-tabs>

        </div>


    </md-dialog-content>


    <div class="md-actions" layout="row" layout-align="end end">
        <div layout-align="center center"><span ng-bind="message"></span></div>
        <span flex></span>

        <div>
            <md-button type="button" class="md-primary md-raised" ng-click="deviceConfigNext(newDeviceConfig)"
                       style="margin-right:20px;" ng-if="newDevice.method!='edit'">
                Next
            </md-button>
            <md-button type="button" class="md-primary md-raised" ng-click="processDeviceNext(newDeviceConfig,'edit')"
                       style="margin-right:20px;" ng-if="newDevice.method=='edit'">
                Submit
            </md-button>
        </div>
    </div>


</md-dialog>