<md-dialog aria-label="Device" flex="60">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3 ng-bind="title_dialog" style="color:white;"></h3>
            <span flex></span>
            <md-button type="button" class="md-icon-button" ng-click="cancelTag()">
                <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_24px.svg') }}"
                         aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <div class="md-dialog-content adddevice-dialog" layout="column">
            <div layout="column">
                <div layout="column" flex ng-repeat="dom in currentSetting.content">
                    <md-input-container flex ng-if="dom.method=='text'">
                        <label>{% raw %}{{ dom.name }}{% endraw %}</label>
                        <input ng-model="dom.value">
                    </md-input-container>
                    <md-input-container flex="30" ng-if="dom.method=='checkbox'">
                        <label>{% raw %}{{ dom.name }}{% endraw %}</label>
                        <md-select ng-model="dom.value">
                            <md-option value="true">True</md-option>
                            <md-option value="false">False</md-option>
                        </md-select>
                    </md-input-container>
                </div>


            </div>
        </div>


    </md-dialog-content>


    <div class="md-actions" layout="row" layout-align="end end">
        <div layout-align="center center"><span ng-bind="message"></span></div>
        <span flex></span>


        <div>
            <md-button type="button" class="md-primary md-raised" ng-click="submitTag(currentSetting)"
                       style="margin-right:20px;">
                Submit
            </md-button>

            <!--    <md-button type="button" ng-click="cancel()" class="md-primary md-raised" style="margin-right:20px;">
                    Cancel
                </md-button> -->
        </div>
    </div>


</md-dialog>