<md-dialog aria-label="Register" ng-cloak flex="40">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 ng-bind="title_dialog" style="color:white;"></h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-content layout="column" layout-fill flex>
                    <md-input-container>
                        <label>Data Item</label>
                        <input ng-model="dataConf.item">
                    </md-input-container>
                    <md-input-container>
                        <label>Sheet Name</label>
                        <input ng-model="dataConf.sheetname">
                    </md-input-container>
                    <md-input-container>
                        <label>Order List</label>
                        <input ng-model="dataConf.orderlist">
                    </md-input-container>
                </md-content>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout="row" layout-align="end end">
            <div style="margin-left: 12px;"><span ng-bind="message"></span></div>
            <span flex></span>
            <div style="margin-left: 20px;">
                <md-button ng-click="saveDataConf(dataConf)">
                    Submit
                </md-button>
            </div>
        </div>


</md-dialog>
