
<md-dialog aria-label="Budget" flex="50">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Discretionary Expenditure</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="current_user.permission != '0' ">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

    <md-dialog-content>
        <md-subheader class="md-no-sticky">DISCRETIONARY EXPENDITURE</md-subheader>

        <div class="md-dialog-content" layout="column" ng-if="if_show('LegacyCo')">

            <div layout="row" flex >
                    <div flex=30><h4>Advertising</h4></div>
                    <div flex =50 layout="row" >
                    <md-input-container class="md-block" flex>
                        <label>B2B</label>
                        <input ng-model="acc_budget.B2B_AA" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>B2C</label>
                        <input ng-model="acc_budget.B2C_AA" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    </div>
                  <div flex>
                        <h4> Totals : {% raw %}{{ acc_budget.B2B_AA+ acc_budget.B2C_AA}}{% endraw %}</h4>
                  </div>
            </div>
             <div layout="row" flex >
                    <div flex=30><h4>Salesforce</h4></div>
                    <div flex =50 layout="row" >
                    <md-input-container class="md-block" flex>
                        <label>B2B</label>
                        <input ng-model="acc_budget.B2B_DM" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>B2C</label>
                        <input ng-model="acc_budget.B2C_DM" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    </div>
                  <div flex>
                        <h4> Totals : {% raw %}{{ acc_budget.B2B_DM+ acc_budget.B2C_DM}}{% endraw %}</h4>
                  </div>
            </div>
               <div layout="row" flex >
                    <div flex=30><h4>Social Media</h4></div>
                    <div flex =50 layout="row" >
                    <md-input-container class="md-block" flex>
                        <label>B2B</label>
                        <input ng-model="acc_budget.B2B_PD" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>B2C</label>
                        <input ng-model="acc_budget.B2C_PD" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    </div>
                  <div flex>
                        <h4> Totals : {% raw %}{{ acc_budget.B2B_PD+ acc_budget.B2C_PD}}{% endraw %}</h4>
                  </div>
            </div>
              <div layout="row" flex >
                    <div flex=30><h4> Totals :</h4></div>
                    <div flex =50 layout="row" >
                   <div flex><h4> B2B : {% raw %}{{ acc_budget.B2B_AA+ acc_budget.B2B_DM+ acc_budget.B2B_PD}}{% endraw %}</h4></div>
                   <div flex><h4> B2C : {% raw %}{{ acc_budget.B2C_AA+ acc_budget.B2C_DM+ acc_budget.B2C_PD}}{% endraw %}</h4></div>
                    </div>
                  <div flex>
                    <h4> Totals : {% raw %}{{ acc_budget.B2B_AA+ acc_budget.B2B_DM+ acc_budget.B2B_PD +acc_budget.B2C_AA+ acc_budget.B2C_DM+ acc_budget.B2C_PD}}{% endraw %}</h4>
                  </div>
            </div>

 <md-divider inset></md-divider>
        </div>
        <div class="md-dialog-content" layout ="column" ng-if="if_show('NewCo')">



            <div layout="row" flex>
                    <div flex=25><h4>Advertising</h4></div>
                    <div flex =60 layout="row" >
                    <md-input-container class="md-block" flex>
                        <label>Niche1</label>
                        <input ng-model="acc_budget.Niche1_AA" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Niche2</label>
                        <input ng-model="acc_budget.Niche2_AA" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                     <md-input-container class="md-block" flex>
                        <label>Niche3</label>
                         <input ng-model="acc_budget.Niche3_AA" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    </div>
                  <div flex>
                        <h4> Totals : {% raw %}{{ acc_budget.Niche1_AA+ acc_budget.Niche2_AA+ acc_budget.Niche3_AA}}{% endraw %}</h4>
                  </div>
            </div>
             <div layout="row" flex >
                    <div flex=25><h4>Digital Media</h4></div>
                    <div flex =60 layout="row" >
                    <md-input-container class="md-block" flex>
                        <label>Niche1</label>
                        <input ng-model="acc_budget.Niche1_DM" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Niche2</label>
                        <input ng-model="acc_budget.Niche2_DM" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                     <md-input-container class="md-block" flex>
                        <label>Niche3</label>
                         <input ng-model="acc_budget.Niche3_DM" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    </div>
                  <div flex>
                        <h4> Totals : {% raw %}{{ acc_budget.Niche1_DM+ acc_budget.Niche2_DM+ acc_budget.Niche3_DM}}{% endraw %}</h4>
                  </div>
            </div>
              <div layout="row" flex >
                    <div flex=25><h4>Product Development</h4></div>
                    <div flex =60 layout="row" >
                    <md-input-container class="md-block" flex>
                        <label>Niche1</label>
                        <input ng-model="acc_budget.Niche1_PD" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Niche2</label>
                        <input ng-model="acc_budget.Niche2_PD" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                     <md-input-container class="md-block" flex>
                        <label>Niche3</label>
                         <input ng-model="acc_budget.Niche3_PD" type="number" step="1000000" style="width: 90%">
                    </md-input-container>
                    </div>
                  <div flex>
                        <h4> Totals : {% raw %}{{ acc_budget.Niche1_PD+ acc_budget.Niche2_PD+ acc_budget.Niche3_PD}}{% endraw %}</h4>
                  </div>
            </div>
              <div layout="row" flex >
                    <div flex=25><h4> Totals :</h4></div>
                    <div flex =60 layout="row" >
                   <div flex><h4> Niche1 : {% raw %}{{ acc_budget.Niche1_AA+ acc_budget.Niche1_DM+ acc_budget.Niche1_PD}}{% endraw %}</h4></div>
                   <div flex><h4> Niche2 : {% raw %}{{ acc_budget.Niche2_AA+ acc_budget.Niche2_DM+ acc_budget.Niche2_PD}}{% endraw %}</h4></div>
                    <div flex><h4> Niche3 : {% raw %}{{ acc_budget.Niche3_AA+ acc_budget.Niche3_DM+ acc_budget.Niche3_PD}}{% endraw %}</h4></div>
                    </div>
                  <div flex>
                    <h4> Totals : {% raw %}{{ acc_budget.Niche1_AA+ acc_budget.Niche1_DM+ acc_budget.Niche1_PD+acc_budget.Niche2_AA+ acc_budget.Niche2_DM+ acc_budget.Niche2_PD+acc_budget.Niche3_AA+ acc_budget.Niche3_DM+ acc_budget.Niche3_PD}}{% endraw %}</h4>
                  </div>
            </div>

 <md-divider inset></md-divider>
       </div>
    </md-dialog-content>
        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>
            <div>
                <md-button type="button" id="submit" ng-click="submit(acc_budget,event)" >
                    Submit
                </md-button>

                <md-button type="button" ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>


</md-dialog>




