<md-dialog aria-label="Forecast"  flex="80">

      <md-toolbar >
            <div class="md-toolbar-tools">
                <h3>Forecast</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="current_user.permission != '0' ">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

    <md-tabs  md-selected="selectedIndex" md-dynamic-height>
      <md-tab id="tab1">
        <md-tab-label>Projected Sales</md-tab-label>
        <md-tab-body>
              <div layout style="margin-right:100px;margin-left:60px" layout-margin="10">
                <div flex layout layout-align="start center">
                  <span class="md-body-1">Insert Projected Gross Sales Revenue for this period:</span>
                </div>
            </div>

            <div layout style="margin-right:100px;margin-left:100px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">B2B</span>
                </div>
                <md-slider flex="45" min=0 max=1000000000 step="1000000" ng-model="forecast.b2b" aria-label="b2b"
                           id="b2b-slider" class>
                </md-slider>
                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="forecast.b2b" aria-label="b2b" aria-controls="b2b-slider">
                </div>
            </div>

            <div layout style="margin-right:100px;margin-left:100px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">B2C</span>
                </div>
                            <md-slider flex="45" min=0 max=1000000000 step="1000000" ng-model="forecast.b2c"
                                       aria-label="b2c" id="b2c-slider" class>
                </md-slider>
                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="forecast.b2c" aria-label="b2c" aria-controls="b2c-slider">
                </div>
            </div>

               <div layout style="margin-right:100px;margin-left:100px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">New Offering</span>
                </div>
                   <md-slider flex="45" min=0 max=1000000000 step="1000000" ng-model="forecast.newoffering"
                              aria-label="newoffering" id="newoffering-slider" class>
                </md-slider>
                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="forecast.newoffering" aria-label="newoffering" aria-controls="newoffering-slider">
                </div>
            </div>

            <md-divider md-inset="true" ></md-divider>

             <div layout style="margin-right:100px;margin-left:100px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                <div flex="65" layout layout-align="start center">
                    <span class="md-body-1">Total Projected Revenue</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <label flex type="number" ng-bind="forecast_total" aria-label="forecasting" ng-disabled="true" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>
      </md-tab>

    </md-tabs>


        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>
            <div>
                <md-button ng-click="submit(forecast)" >
                    Submit
                </md-button>

                <md-button type="button" ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>



</md-dialog>




