<md-dialog aria-label="Comapany" flex="80">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Hiring People</h3>
                <span flex></span>
               <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="superuser">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>


    <div>
      <md-tabs md-selected="selectedIndex" md-dynamic-height>
      <md-tab ng-repeat="category in employees_keys">
        <md-tab-label>{% raw %}{{ category  }}{% endraw %}</md-tab-label>
        <md-tab-body>
           <div layout ng-repeat="employee in employees[category]">
                        <div flex="45" layout layout-align="center center">
                            <md-list-item class="md-3-line">
                                <img ng-src="{% raw %}{{ employee.url}}{% endraw %}" class="md-avatar"
                                     alt="Name"
                                     ngf-select="superuser?photoUpload($files,employee._id,'photo'):notpemission()"
                                     accept="image/*"/>

                                <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="employee.employeeName"></h3>
                                    <p ng-bind="employee.title"></p>
                                    <p>Minimum Salary : {% raw %}{{employee.minimumSalary}}{% endraw %} </p>
                                </div>
                                <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ng-click="openResume(employee.resume)" ng-if="employee.resume">
                                <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ngf-select="photoUpload($files,employee._id,'resume')" accept=".pdf"
                                     ng-if="superuser"/>
                            </md-list-item>
                        </div>
                        <div flex="20" layout layout-align="center center">
                            <input flex type="number" ng-model="employee.salaryOffer" aria-label="minimumSalary"
                                   aria-controls="minimumSalary-slider">
                        </div>
               <md-slider flex="25" ng-model="employee.salaryOffer" min="390000" max="1000000" step="10000"
                          aria-label="minimumSalary" id="minimumSalary-slider" style="margin-top: 20px"
                          class="md-accent">
                        </md-slider>

                    </div>
                    <md-divider inset></md-divider>

        </md-tab-body>
      </md-tab>


    </md-tabs>


        <div class="md-actions" layout="row" layout-align="end end">

                <md-button ng-click="submit()">
                    Submit
                </md-button>

                <md-button ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>


</md-dialog>




