
<md-dialog aria-label="Team" flex="60">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Join in A Team</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="cancel()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" >
<md-tabs md-dynamic-height>
    <md-tab id ='jointeam'>
        <md-tab-label>Team</md-tab-label>
        <md-tab-body>
        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">Please choose a team you want to join</md-subheader>

            <md-list-item class="md-2-line" ng-repeat="team in teams">
                <div class="md-list-item-text" >
                    <h3>{% raw %}{{ team.teamName }}{% endraw %}</h3>

                </div>
                <md-checkbox ng-model="team.selected" aria-label="teamSelected"></md-checkbox>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
            </md-tab-body>

    </md-tab>
    <md-tab id ='company'>
        <md-tab-label>Comapany</md-tab-label>
        <md-tab-body>
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">Please choose a Company you want to join</md-subheader>

                <md-list-item class="md-3-line" ng-repeat="company in companies">
                    <div class="md-list-item-text" layout="column" >
                        <h3>{% raw %}{{ company.companyName }}{% endraw %}</h3>
                        <p>{% raw %}{{ company.niches }}{% endraw %}</p>
                    </div>
                    <md-input-container>
                        <label>Role</label>
                        <md-select ng-model="company.userrole">
                            <md-option ng-repeat="role in roles" value="{% raw %}{{role.userrole }}{% endraw %}">
                                {% raw %}{{role.userrole }}{% endraw %}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-divider inset></md-divider>
                </md-list-item>
            </md-list>
        </md-tab-body>

    </md-tab>
</md-tabs>




            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>
            <div>
                <md-button type="submit" id="submit" ng-click="submit(teams,companies)">
                    Submit
                </md-button>

                <md-button type="button" ng-click="cancel()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>
    </form>

</md-dialog>




