<md-dialog aria-label="Comapany" flex="80">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Growth Funding (Status: {% raw %}{{ status }}{% endraw %})</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="current_user.permission != '0' ">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

    <md-tabs class="md-primary md-hue-2" md-dynamic-height>

        <md-tab id="tab1">
        <md-tab-label>ESTIMATED INCOME PERIOD 4</md-tab-label>
        <md-tab-body>
            <div layout style="margin-right:20px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="45" layout layout-align="start center">
                    <span class="md-body-1"></span>
                </div>

                <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Customers</span>
                        </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Share</span>
                     </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Revenue</span>
                        </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREducation</span>
                </div>
                <md-slider flex="30" min=0 max=100000 step="1000" ng-model="estimatedIncome[0].VREducation.customers"
                           aria-label="VREducation">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREducation.customers" aria-label="VREducation" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREducation.share" aria-label="VREducation" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                     <label flex type="number" ng-bind="estimatedIncome[0].VREducation.revenue_text"
                            aria-label="VREducation" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VRGovernment</span>
                </div>
                <md-slider flex="30" min=0 max=100000 step="1000" ng-model="estimatedIncome[0].VRGovernment.customers"
                           aria-label="VRGovernment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VRGovernment.customers" aria-label="VRGovernment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VRGovernment.share" aria-label="VRGovernment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                     <label flex type="number" ng-bind="estimatedIncome[0].VRGovernment.revenue_text"
                            aria-label="VRGovernment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREntertainment</span>
                </div>
                <md-slider flex="30" min=0 max=100000 step="1000"
                           ng-model="estimatedIncome[0].VREntertainment.customers" aria-label="VREntertainment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREntertainment.customers" aria-label="VREntertainment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREntertainment.share" aria-label="VREntertainment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                     <label flex type="number" ng-bind="estimatedIncome[0].VREntertainment.revenue_text"
                            aria-label="VREntertainment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <md-divider md-inset></md-divider>

             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout>
                    <span class="md-body-1">Total Estimated Revenue</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="estimatedIncome[0].total_revenue_text"
                           aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout>
                    <span class="md-body-1">Estimated Gross Margin</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="estimatedIncome[0].gross_margin_text"
                           aria-label="totalGrossMargin"/>
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
       <md-tab id="tab2" >
        <md-tab-label>ESTIMATED INCOME PERIOD 5</md-tab-label>
        <md-tab-body>
     <div layout style="margin-right:20px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="45" layout layout-align="start center">
                    <span class="md-body-1"></span>
                </div>

                <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Customers</span>
                        </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Share</span>
                     </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Revenue</span>
                        </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREducation</span>
                </div>
                <md-slider flex="30" min=0 max=100000 step="1000" ng-model="estimatedIncome[1].VREducation.customers"
                           aria-label="VREducation">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREducation.customers" aria-label="VREducation" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREducation.share" aria-label="VREducation" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                     <label flex type="number" ng-bind="estimatedIncome[1].VREducation.revenue_text"
                            aria-label="VREducation" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VRGovernment</span>
                </div>
                <md-slider flex="30" min=0 max=100000 step="1000" ng-model="estimatedIncome[1].VRGovernment.customers"
                           aria-label="VRGovernment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VRGovernment.customers" aria-label="VRGovernment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VRGovernment.share" aria-label="VRGovernment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                     <label flex type="number" ng-bind="estimatedIncome[1].VRGovernment.revenue_text"
                            aria-label="VRGovernment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREntertainment</span>
                </div>
                <md-slider flex="30" min=0 max=100000 step="1000"
                           ng-model="estimatedIncome[1].VREntertainment.customers" aria-label="VREntertainment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREntertainment.customers" aria-label="VREntertainment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREntertainment.share" aria-label="VREntertainment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                     <label flex type="number" ng-bind="estimatedIncome[1].VREntertainment.revenue_text"
                            aria-label="VREntertainment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <md-divider md-inset></md-divider>

             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Total Estimated Revenue</span>
                </div>

                <div flex="20" layout >
                    <label flex type="number" ng-bind="estimatedIncome[1].total_revenue_text"
                           aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Estimated Gross Margin</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="estimatedIncome[1].gross_margin_text"
                           aria-label="totalGrossMargin"/>
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
        <md-tab id="tab3">
        <md-tab-label>PEOPLE AND ASSOCIATED COSTS</md-tab-label>
        <md-tab-body>
         <div layout style="margin-right:60px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="40" layout layout-align="center start">
                    <span class="md-body-1">Current</span>
                </div>

                <div flex="30" layout >  <span class="md-body-1">Period - 4</span>
                        </div>
                 <div flex="30" layout >  <span class="md-body-1">Period - 5</span>
                     </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Marketing</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce.Marketing.adjustedworkforce_total" aria-label="marketing"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=100000 step="1000" ng-model="Costs[0].marketing" aria-label="marketing">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].marketing" aria-label="marketing" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=100000 step="1000" ng-model="Costs[1].marketing" aria-label="marketing">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].marketing" aria-label="marketing" placeholder="Period 5">
                </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Sales</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce.Sales.adjustedworkforce_total" aria-label="sales"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].sales" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].sales" aria-label="sales" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].sales" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].sales" aria-label="sales" placeholder="Period 5">
                </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Support</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce['Social Media'].adjustedworkforce_total" aria-label="support"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].support" aria-label="support">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].support" aria-label="support" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].support" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].support" aria-label="support" placeholder="Period 5">
                </div>

            </div>

              <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Logistics & IT</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce.Logistics.adjustedworkforce_total" aria-label="logisticsit"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].logisticsit" aria-label="logisticsit">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].logisticsit" aria-label="logisticsit" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].logisticsit" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].logisticsit" aria-label="logisticsit" placeholder="Period 5">
                </div>

            </div>

              <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Development</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce['Product Development'].adjustedworkforce_total"
                              aria-label="development" ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].development" aria-label="development">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].development" aria-label="development" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].development" aria-label="development">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].development" aria-label="development" placeholder="Period 5">
                </div>

            </div>

            <md-divider md-inset></md-divider>

             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">

                 <div flex="25" layout-align="start center">
                    <span class="md-body-1">Hiring Costs</span>
                </div>
                 <div flex="20" layout-align="end center">
                     <label flex ng-bind="Costs[0].hiring_costs_text" aria-label="totalestimateddrevenue"/>
                 </div>
                 <div flex="20" layout-align="end center">
                     <label flex ng-bind="Costs[1].hiring_costs_text" aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                   <div flex="25" layout-align="start center">
                    <span class="md-body-1">Total Wages</span>
                </div>
                   <div flex="20" layout-align="center center">
                       <label flex ng-bind="Costs[0].total_wage_text" aria-label="totalGrossMargin"/>
                   </div>
                   <div flex="20" layout-align="end center">
                       <label flex ng-bind="Costs[1].total_wage_text" aria-label="totalGrossMargin"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                   <div flex="25" layout-align="start center">
                    <span class="md-body-1">Associated Expenses</span>
                </div>
                   <div flex="20" layout-align="end center">
                       <label flex ng-bind="Costs[0].associated_expenses" aria-label="totalGrossMargin"/>
                   </div>
                   <div flex="20" layout-align="end center">
                       <label flex ng-bind="Costs[1].associated_expenses" aria-label="totalGrossMargin"/>
                </div>
            </div>


               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">Total People Costs</span>
                </div>
                   <div flex="20" layout-align="end center">
                       <label flex ng-bind="Costs[0].total_cost_text" aria-label="totalGrossMargin"/>
                   </div>
                   <div flex="20" layout-align="end center">
                       <label flex ng-bind="Costs[1].total_cost_text" aria-label="totalGrossMargin"/>
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
        <md-tab id="tab4">
        <md-tab-label>DISCRETIONARY EXPENDITURE</md-tab-label>
        <md-tab-body>
      <div layout style="margin-right:60px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="40" layout layout-align="start start">
                    <span class="md-body-1"></span>
                </div>

                <div flex="30" layout >  <span class="md-body-1">Period - 4</span>
                        </div>
                 <div flex="30" layout >  <span class="md-body-1">Period - 5</span>
                     </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="30" layout layout-align="start center">
                    <span class="md-body-1">Advertising</span>
                </div>

                <md-slider flex="20" min=0 max=100000000 step="1000000" ng-model="expenditure[0].ad" aria-label="ad">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[0].ad" aria-label="ad" placeholder="Period - 4">
                </div>

                <md-slider flex="20" min=0 max=100000000 step="1000000" ng-model="expenditure[1].ad" aria-label="ad">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[1].ad" aria-label="ad" placeholder="Period - 5">
                </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="30" layout layout-align="start center">
                    <span class="md-body-1">Digital Media</span>
                </div>

                <md-slider flex="20" min=0 max=100000000 step="1000000" ng-model="expenditure[0].dm" aria-label="dm">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[0].dm" aria-label="ad" placeholder="Period - 4">
                </div>

                <md-slider flex="20" min=0 max=100000000 step="1000000" ng-model="expenditure[1].dm" aria-label="dm">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[1].dm" aria-label="dm" placeholder="Period - 5">
                </div>

            </div>

              <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="30" layout layout-align="start center">
                    <span class="md-body-1">Product Development</span>
                </div>

                  <md-slider flex="20" min=0 max=100000000 step="1000000" ng-model="expenditure[0].pd" aria-label="pd">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[0].pd" aria-label="pd" placeholder="Period - 4">
                </div>

                  <md-slider flex="20" min=0 max=100000000 step="1000000" ng-model="expenditure[1].pd" aria-label="pd">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[1].pd" aria-label="pd" placeholder="Period - 5">
                </div>

            </div>


            <md-divider md-inset></md-divider>


               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                   <div flex="40" layout>
                    <span class="md-body-1">Total Discretionary Expenditure</span>
                </div>
                   <div flex="30" layout>
                       <label flex type="number" ng-bind="expenditure[0].total_text" aria-label="totalGrossMargin"/>
                   </div>
                   <div flex="30" layout>
                       <label flex type="number" ng-bind="expenditure[1].total_text" aria-label="totalGrossMargin"/>
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
        <md-tab id="tab5">
            <md-tab-label>SUMMARY</md-tab-label>
            <md-tab-body>
                <md-divider md-inset></md-divider>
                <div layout="row" style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"
                     layout-align="start center">
                    <div flex="25">
                        <span class="md-body-1">Total Estimated Revenue P4</span>
                    </div>

                    <div flex="20">
                        <label flex ng-bind="estimatedIncome[0].total_revenue_text"
                               aria-label="totalestimateddrevenue"/>
                    </div>
                    {#                </div>#}
                    {##}
                    {#                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"#}
                    {#                     layout-align="start center">#}
                    <div flex="25" layout>
                        <span class="md-body-1">Total Estimated Revenue P5</span>
                    </div>

                    <div flex="20" layout>
                        <label flex ng-bind="estimatedIncome[1].total_revenue_text"
                               aria-label="totalestimateddrevenue"/>
                    </div>


                </div>
                <md-divider md-inset></md-divider>

                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"
                     layout-align="start center">
                    <div flex="25" layout>
                        <span class="md-body-1">Estimated Gross Margin P4</span>
                    </div>

                    <div flex="20" layout>
                        <label flex ng-bind="estimatedIncome[0].gross_margin_text" aria-label="totalGrossMargin"/>
                    </div>
                    {#                </div>#}
                    {##}
                    {#                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"#}
                    {#                     layout-align="start center">#}
                    <div flex="25" layout>
                        <span class="md-body-1">Estimated Gross Margin P5</span>
                    </div>

                    <div flex="20" layout>
                        <label flex ng-bind="estimatedIncome[1].gross_margin_text" aria-label="totalGrossMargin"/>
                    </div>
                </div>

                <md-divider md-inset="true"></md-divider>


                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"
                     layout-align="start center">
                    <div flex="25" layout>
                        <span class="md-body-1">Total Discretionary Expenditure P4</span>
                    </div>
                    <div flex="20" layout>
                        <label flex ng-bind="expenditure[0].total_text" aria-label="totalGrossMargin"/>
                    </div>

                    {#                </div>#}
                    {#                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"#}
                    {#                     layout-align="start center">#}
                    <div flex="25" layout>
                        <span class="md-body-1">Total Discretionary Expenditure P5</span>
                    </div>

                    <div flex="20" layout>
                        <label flex ng-bind="expenditure[1].total_text" aria-label="totalGrossMargin"/>
                    </div>
                </div>
                <md-divider md-inset="true"></md-divider>
                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"
                     layout-align="start center">
                    <div flex="25" layout layout-align="start center">
                        <span class="md-body-1">Total People Costs P4</span>
                    </div>

                    <div flex="20" layout layout-align="start center">
                        <label flex ng-bind="Costs[0].total_cost_text" aria-label="totalGrossMargin"/>
                    </div>

                    {#                </div>#}
                    {#                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"#}
                    {#                     layout-align="start center">#}
                    <div flex="25" layout layout-align="start center">
                        <span class="md-body-1">Total People Costs P5</span>
                    </div>

                    <div flex="20" layout layout-align="start center">
                        <label flex ng-bind="Costs[1].total_cost_text" aria-label="totalGrossMargin"/>
                    </div>
                </div>
                <md-divider md-inset="true"></md-divider>
                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"
                     layout-align="start center">
                    <div flex="20" layout layout-align="start center">
                        <span class="md-body-1">Total ($) P4:  </span>
                    </div>
                    <div flex="25" layout-align="start center"><span
                            flex> {% raw %}{{ grand_total_text[0] }}{% endraw %}</span>
                    </div>
                    <div flex="20" layout layout-align="start center">
                        <span class="md-body-1">Total ($) P5:  </span>
                    </div>
                    <div flex="25" layout-align="start center"><span
                            flex> {% raw %}{{ grand_total_text[1] }}{% endraw %}</span>
                    </div>
                </div>

                <md-divider md-inset="true"></md-divider>
                <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px"
                     layout-align="start center">
                    <div flex="25" layout layout-align="start center">
                        <span class="md-body-1">Total fundings request:</span>
                    </div>
                    <div flex="50" layout layout-align="start center">
                        <input flex type="number" step="1000000" ng-model="grand_total1" aria-label="Grand Total"
                               placeholder="Grand Total">
                    </div>
                </div>
                <md-divider md-inset="true"></md-divider>
            </md-tab-body>

        </md-tab>
    </md-tabs>

        <div class="md-actions" layout="row" layout-align="end end">

            {#            <div flex="25" layout layout-align="center center">#}
            {#                <input flex type="number" step="1000000" ng-model="grand_total1" aria-label="Grand Total"#}
            {#                       placeholder="Grand Total">#}
            {#            </div>#}
            <span flex></span>

            <div>
                <md-button id="submit" ng-click="submit(true)" ng-if="companyName=='LegacyCo'">
                    Confirm
                </md-button>
                <md-button id="submit"
                           ng-click="submit(false)"
                           ng-if="companyName=='LegacyCo'">
                Return
            </md-button>
                <md-button id="submit" ng-click="submit(false)" ng-if="companyName=='NewCo'">
                    Submit
                </md-button>

                <md-button type="button" ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>

</md-dialog>




