<md-dialog aria-label="Comapany" flex="80">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Growth Funding (Status: {% raw %}{{ status }}{% endraw %})</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="current_user.permission != '0' ">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

    <md-tabs class="md-primary md-hue-2" md-selected="selectedIndex" md-dynamic-height>
      <md-tab id="tab1" >
        <md-tab-label>ESTIMATED INCOME PERIOD 4</md-tab-label>
        <md-tab-body>
            <div layout style="margin-right:20px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="45" layout layout-align="start center">
                    <span class="md-body-1"></span>
                </div>

                <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Customers</span>
                        </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Share</span>
                     </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Revenue</span>
                        </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREducation</span>
                </div>
                <md-slider flex="30" min=0 max=10000 step="10" ng-model="estimatedIncome[0].VREducation.customers" aria-label="VREducation">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREducation.customers" aria-label="VREducation" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREducation.share" aria-label="VREducation" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                    <label flex type="number" ng-bind="((estimatedIncome[0].VREducation.share)/100*(estimatedIncome[0].VREducation.customers)*250000).toFixed(2)" aria-label="VREducation" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VRGovernment</span>
                </div>
                <md-slider flex="30" min=0 max=10000 step="10" ng-model="estimatedIncome[0].VRGovernment.customers" aria-label="VRGovernment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VRGovernment.customers" aria-label="VRGovernment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VRGovernment.share" aria-label="VRGovernment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                    <label flex type="number" ng-bind="(estimatedIncome[0].VRGovernment.share/100*estimatedIncome[0].VRGovernment.customers*250000).toFixed(2)" aria-label="VRGovernment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREntertainment</span>
                </div>
                <md-slider flex="30" min=0 max=10000 step="10" ng-model="estimatedIncome[0].VREntertainment.customers" aria-label="VREntertainment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREntertainment.customers" aria-label="VREntertainment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[0].VREntertainment.share" aria-label="VREntertainment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                    <label flex type="number" ng-bind="(estimatedIncome[0].VREntertainment.share/100*estimatedIncome[0].VREntertainment.customers*250000).toFixed(2)" aria-label="VREntertainment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <md-divider md-inset></md-divider>

             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout>
                    <span class="md-body-1">Total Estimated Revenue</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(((estimatedIncome[0].VREducation.share/100*estimatedIncome[0].VREducation.customers)+(estimatedIncome[0].VRGovernment.share/100*estimatedIncome[0].VRGovernment.customers)
                    +(estimatedIncome[0].VREntertainment.share/100*estimatedIncome[0].VREntertainment.customers))*250000).toFixed(2)" aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout>
                    <span class="md-body-1">Estimated Gross Margin</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(((estimatedIncome[0].VREducation.share/100*estimatedIncome[0].VREducation.customers)+(estimatedIncome[0].VRGovernment.share/100*estimatedIncome[0].VRGovernment.customers)
                    +(estimatedIncome[0].VREntertainment.share/100*estimatedIncome[0].VREntertainment.customers))*0.75*250000).toFixed(2)" aria-label="totalGrossMargin" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
       <md-tab id="tab2" >
        <md-tab-label>ESTIMATED INCOME PERIOD 5</md-tab-label>
        <md-tab-body>
     <div layout style="margin-right:20px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="45" layout layout-align="start center">
                    <span class="md-body-1"></span>
                </div>

                <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Customers</span>
                        </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Share</span>
                     </div>
                 <div flex="12" layout layout-align="end end">  <span class="md-body-1">Est. Revenue</span>
                        </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREducation</span>
                </div>
                <md-slider flex="30" min=0 max=10000 step="10" ng-model="estimatedIncome[1].VREducation.customers" aria-label="VREducation">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREducation.customers" aria-label="VREducation" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREducation.share" aria-label="VREducation" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                    <label flex type="number" ng-bind="(estimatedIncome[1].VREducation.share/100*estimatedIncome[1].VREducation.customers*250000).toFixed(2)" aria-label="VREducation" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VRGovernment</span>
                </div>
                <md-slider flex="30" min=0 max=10000 step="10" ng-model="estimatedIncome[1].VRGovernment.customers" aria-label="VRGovernment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VRGovernment.customers" aria-label="VRGovernment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VRGovernment.share" aria-label="VRGovernment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                    <label flex type="number" ng-bind="(estimatedIncome[1].VRGovernment.share/100*estimatedIncome[1].VRGovernment.customers*250000).toFixed(2)" aria-label="VRGovernment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">VREntertainment</span>
                </div>
                <md-slider flex="30" min=0 max=10000 step="10" ng-model="estimatedIncome[1].VREntertainment.customers" aria-label="VREntertainment">
                </md-slider>
                <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREntertainment.customers" aria-label="VREntertainment" placeholder="Est.Customers">
                </div>
                 <div flex="15" layout layout-align="end center">
                    <input flex type="number" ng-model="estimatedIncome[1].VREntertainment.share" aria-label="VREntertainment" placeholder="Est.Share">%
                </div>
                 <div flex="15" layout layout-align="end center">
                    <label flex type="number" ng-bind="(estimatedIncome[1].VREntertainment.share/100*estimatedIncome[1].VREntertainment.customers*250000).toFixed(2)" aria-label="VREntertainment" placeholder="Est. Revenue" ng-disabled="true"/>
                </div>
            </div>

            <md-divider md-inset></md-divider>

             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Total Estimated Revenue</span>
                </div>

                <div flex="20" layout >
                    <label flex type="number" ng-bind="(((estimatedIncome[1].VREducation.share/100*estimatedIncome[1].VREducation.customers)+(estimatedIncome[1].VRGovernment.share/100*estimatedIncome[1].VRGovernment.customers)
                    +(estimatedIncome[1].VREntertainment.share/100*estimatedIncome[1].VREntertainment.customers))*250000).toFixed(2)" aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Estimated Gross Margin</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(((estimatedIncome[1].VREducation.share/100*estimatedIncome[1].VREducation.customers)+(estimatedIncome[1].VRGovernment.share/100*estimatedIncome[1].VRGovernment.customers)
                    +(estimatedIncome[1].VREntertainment.share/100*estimatedIncome[1].VREntertainment.customers))*0.75*250000).toFixed(2)" aria-label="totalGrossMargin" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
      <md-tab id="tab3" >
        <md-tab-label>PEOPLE AND ASSOCIATED COSTS</md-tab-label>
        <md-tab-body>
         <div layout style="margin-right:60px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="40" layout layout-align="center start">
                    <span class="md-body-1">Current</span>
                </div>

                <div flex="30" layout >  <span class="md-body-1">Period - 4</span>
                        </div>
                 <div flex="30" layout >  <span class="md-body-1">Period - 5</span>
                     </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Marketing</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce.Marketing.adjustedworkforce_total" aria-label="marketing"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].marketing" aria-label="marketing">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].marketing" aria-label="marketing" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].marketing" aria-label="marketing">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].marketing" aria-label="marketing" placeholder="Period 5">
                </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Sales</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce.Sales.adjustedworkforce_total" aria-label="sales"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].sales" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].sales" aria-label="sales" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].sales" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].sales" aria-label="sales" placeholder="Period 5">
                </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Support</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce['Social Media'].adjustedworkforce_total" aria-label="support"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].support" aria-label="support">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].support" aria-label="support" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].support" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].support" aria-label="support" placeholder="Period 5">
                </div>

            </div>

              <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Logistics & IT</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce.Logistics.adjustedworkforce_total" aria-label="logisticsit"
                              ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].logisticsit" aria-label="logisticsit">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].logisticsit" aria-label="logisticsit" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].logisticsit" aria-label="sales">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].logisticsit" aria-label="logisticsit" placeholder="Period 5">
                </div>

            </div>

              <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="15" layout layout-align="start center">
                    <span class="md-body-1">Development</span>
                </div>
                   <div flex="15" layout layout-align="end center">
                       <input flex ng-model="workforce['Product Development'].adjustedworkforce_total"
                              aria-label="development" ng-disabled="true">
                </div>
                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[0].development" aria-label="development">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[0].development" aria-label="development" placeholder="Period 4">
                </div>

                <md-slider flex="20" min=0 max=1000 step="10" ng-model="Costs[1].development" aria-label="development">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="Costs[1].development" aria-label="development" placeholder="Period 5">
                </div>

            </div>

            <md-divider md-inset></md-divider>

             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">

                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">Hiring Costs</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <label flex type="number" ng-bind="(Costs[0].hirecost)" aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">Total Wages</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <label flex type="number" ng-bind="(Costs[0].marketing+Costs[1].marketing)*90000+(Costs[0].sales+Costs[1].sales)*100000+(Costs[0].support+Costs[1].support)*60000
                    +(Costs[0].logisticsit+Costs[1].logisticsit)*90000+(Costs[0].development+Costs[1].development)*80000" aria-label="totalGrossMargin" />
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">Associated Expenses</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <label flex type="number" ng-bind="(Costs[0].marketing+Costs[1].marketing)*60000+(Costs[0].sales+Costs[1].sales)*80000+(Costs[0].support+Costs[1].support)*100000
                    +(Costs[0].logisticsit+Costs[1].logisticsit)*80000+(Costs[0].development+Costs[1].development)*90000" aria-label="totalGrossMargin" />
                </div>
            </div>


               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">Total People Costs</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <label flex type="number" ng-bind="(Costs[0].marketing+Costs[1].marketing)*150000+(Costs[0].sales+Costs[1].sales)*180000+(Costs[0].support+Costs[1].support)*160000
                    +(Costs[0].logisticsit+Costs[1].logisticsit)*170000+(Costs[0].development+Costs[1].development)*170000" aria-label="totalGrossMargin" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
    <md-tab id="tab4" >
        <md-tab-label>DISCRETIONARY EXPENDITURE</md-tab-label>
        <md-tab-body>
      <div layout style="margin-right:60px;margin-left:20px;margin-top: 10px"  layout-align="space-between center">
                <div flex="40" layout layout-align="start start">
                    <span class="md-body-1"></span>
                </div>

                <div flex="30" layout >  <span class="md-body-1">Period - 4</span>
                        </div>
                 <div flex="30" layout >  <span class="md-body-1">Period - 5</span>
                     </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="30" layout layout-align="start center">
                    <span class="md-body-1">Advertising</span>
                </div>

                <md-slider flex="20" min=0 max=1000000 step="10000" ng-model="expenditure[0].ad" aria-label="ad">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[0].ad" aria-label="ad" placeholder="Period - 4">
                </div>

                <md-slider flex="20"min=0 max=1000000 step="10000"  ng-model="expenditure[1].ad" aria-label="ad">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[1].ad" aria-label="ad" placeholder="Period - 5">
                </div>

            </div>

            <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="30" layout layout-align="start center">
                    <span class="md-body-1">Digital Media</span>
                </div>

                <md-slider flex="20" min=0 max=1000000 step="10000"  ng-model="expenditure[0].dm" aria-label="dm">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[0].dm" aria-label="ad" placeholder="Period - 4">
                </div>

                <md-slider flex="20" min=0 max=1000000 step="10000"  ng-model="expenditure[1].dm" aria-label="dm">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[1].dm" aria-label="dm" placeholder="Period - 5">
                </div>

            </div>

              <div layout style="margin-right:20px;margin-left:20px"  layout-align="space-between center">
                <div flex="30" layout layout-align="start center">
                    <span class="md-body-1">Product Development</span>
                </div>

                <md-slider flex="20" min=0 max=1000000 step="10000"  ng-model="expenditure[0].pd" aria-label="pd">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[0].pd" aria-label="pd" placeholder="Period - 4">
                </div>

                <md-slider flex="20" min=0 max=1000000 step="10000"  ng-model="expenditure[1].pd" aria-label="pd">
                </md-slider>
                <div flex="10" layout layout-align="end center">
                    <input flex type="number" ng-model="expenditure[1].pd" aria-label="pd" placeholder="Period - 5">
                </div>

            </div>


            <md-divider md-inset></md-divider>


               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Total Discretionary Expenditure</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(expenditure[0].ad+expenditure[1].ad+expenditure[0].dm+expenditure[1].dm+expenditure[0].pd+expenditure[0].pd).toFixed(2)" aria-label="totalGrossMargin" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

        </md-tab-body>

      </md-tab>
        <md-tab id="tab0" >
        <md-tab-label>SUMMARY</md-tab-label>
        <md-tab-body>



            <md-divider md-inset></md-divider>
             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout>
                    <span class="md-body-1">Total Estimated Revenue P4</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(((estimatedIncome[0].VREducation.share/100*estimatedIncome[0].VREducation.customers)+(estimatedIncome[0].VRGovernment.share/100*estimatedIncome[0].VRGovernment.customers)
                    +(estimatedIncome[0].VREntertainment.share/100*estimatedIncome[0].VREntertainment.customers))*250000).toFixed(2)" aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout>
                    <span class="md-body-1">Estimated Gross Margin P4</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(((estimatedIncome[0].VREducation.share/100*estimatedIncome[0].VREducation.customers)+(estimatedIncome[0].VRGovernment.share/100*estimatedIncome[0].VRGovernment.customers)
                    +(estimatedIncome[0].VREntertainment.share/100*estimatedIncome[0].VREntertainment.customers))*0.75*250000).toFixed(2)" aria-label="totalGrossMargin" />
                </div>
            </div>
<md-divider md-inset></md-divider>

             <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Total Estimated Revenue P5</span>
                </div>

                <div flex="20" layout >
                    <label flex type="number" ng-bind="(((estimatedIncome[1].VREducation.share/100*estimatedIncome[1].VREducation.customers)+(estimatedIncome[1].VRGovernment.share/100*estimatedIncome[1].VRGovernment.customers)
                    +(estimatedIncome[1].VREntertainment.share/100*estimatedIncome[1].VREntertainment.customers))*250000).toFixed(2)" aria-label="totalestimateddrevenue"/>
                </div>
            </div>

               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Estimated Gross Margin P5</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(((estimatedIncome[1].VREducation.share/100*estimatedIncome[1].VREducation.customers)+(estimatedIncome[1].VRGovernment.share/100*estimatedIncome[1].VRGovernment.customers)
                    +(estimatedIncome[1].VREntertainment.share/100*estimatedIncome[1].VREntertainment.customers))*0.75*250000).toFixed(2)" aria-label="totalGrossMargin" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>


               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="start center">
                <div flex="25" layout >
                    <span class="md-body-1">Total Discretionary Expenditure</span>
                </div>

                <div flex="20" layout>
                    <label flex type="number" ng-bind="(expenditure[0].ad+expenditure[1].ad+expenditure[0].dm+expenditure[1].dm+expenditure[0].pd+expenditure[0].pd).toFixed(2)" aria-label="totalGrossMargin" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>
               <div layout style="margin-right:20px;margin-left:20px;margin-top:10px;margin-bottom: 10px" layout-align="space-between center">
                <div flex="25" layout layout-align="start center">
                    <span class="md-body-1">Total People Costs</span>
                </div>

                <div flex="20" layout layout-align="start center">
                    <label flex type="number" ng-bind="(Costs[0].marketing+Costs[1].marketing)*150000+(Costs[0].sales+Costs[1].sales)*180000+(Costs[0].support+Costs[1].support)*160000
                    +(Costs[0].logisticsit+Costs[1].logisticsit)*170000+(Costs[0].development+Costs[1].development)*170000" aria-label="totalGrossMargin" />
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>
        </md-tab-body>

      </md-tab>
    </md-tabs>

        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>

            <div>
                <md-button type="submit" id="submit" value="Submit" ng-click="submit(estimatedIncome,Costs,expenditure,action=true)"  ng-if="companyName=='LegacyCo'">
                    Confirm
                </md-button>
                 <md-button type="submit" id="submit" value="Submit"
                       ng-click="submit(selectedEmployees,funding,sumInfluenceSales,calculatedValues,action=false)"
                       ng-if="companyName=='LegacyCo'">
                Return
            </md-button>
                 <md-button type="submit" id="submit" value="Submit" ng-click="submit(estimatedIncome,Costs,expenditure,action=false)"  ng-if="companyName=='NewCo'">
                    Submit
                </md-button>

                <md-button type="button" ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>

</md-dialog>




