<md-dialog aria-label="Comapany" flex="70">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Start-up Funding (Status : {% raw %}{{ status }}{% endraw %})</h3>
            <span flex></span>
            <md-button class="md-icon-button" type="button" ng-click="instruction()">
                <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                         aria-label="info"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="fileupload" ng-if="current_user.permission != '0' ">
                <div ngf-select="fileSelected($files)" accept=".pdf">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                             aria-label="Files upload"></md-icon>
                </div>
            </md-button>

            <md-button class="md-icon-button" type="button" ng-click="close()">
                <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                         aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-tabs md-selected="selectedIndex" md-dynamic-height>
        <md-tab id="tab1">
            <md-tab-label>INFLUENTIAL HUMAN RESOURCES</md-tab-label>
            <md-tab-body>
                <div layout="column">
                    <div layout="row">
                        <div flex="25">
                            <md-list flex class="md-dense">
                                <md-subheader class="md-no-sticky">
                                    <h4>Top Salespeople</h4>
                                </md-subheader>

                                <md-list-item class="md-2-line" ng-repeat="employee in negotiationhr_sales">
                                    <img ng-src="{% raw %}{{ employee.url}}{% endraw %}" class="md-avatar"
                                         alt="Name" ngf-select="photoUpload($files,employee._id)" accept="image/*"/>
                                    <div flex class="md-list-item-text" layout="column">
                                        <h3 ng-bind="employee.employeeName"></h3>
                                        <p ng-bind="employee.title"></p>
                                    </div>
                                    <div flex layout layout-align="center center">
                                        <md-checkbox ng-checked="exists(employee, selectedEmployees) "
                                                     ng-click="toggle(employee, selectedEmployees)" ng-disabled="companyName !='NewCo'"
                                                     aria-label="Select"></md-checkbox>
                                    </div>
                                </md-list-item>


                            </md-list>
                        </div>
                        <div flex="25">
                            <md-list class="md-dense">
                                <md-subheader class="md-no-sticky">
                                    <h4>Top Product Developer</h4>
                                </md-subheader>


                                <md-list-item class="md-2-line" ng-repeat="employee in negotiationhr_pd">
                                    <img ng-src="{% raw %}{{ employee.url  }}{% endraw %}" class="md-avatar"
                                         alt="Name" ngf-select="photoUpload($files,employee._id)" accept="image/*"/>
                                    <div flex class="md-list-item-text" layout="column">
                                        <h3 ng-bind="employee.employeeName"></h3>
                                        <p ng-bind="employee.title"></p>

                                    </div>

                                    <md-checkbox ng-checked="exists(employee, selectedEmployees)"
                                                 ng-click="toggle(employee, selectedEmployees)" ng-disabled="companyName !='NewCo'"
                                                 aria-label="Select"></md-checkbox>


                                </md-list-item>


                            </md-list>
                        </div>
                         <div flex="25">
                            <md-list class="md-dense">
                                <md-subheader class="md-no-sticky">
                                    <h4>Technical Experts</h4>
                                </md-subheader>


                                <md-list-item class="md-2-line" ng-repeat="employee in negotiationhr_te">
                                    <img ng-src="{% raw %}{{ employee.url  }}{% endraw %}" class="md-avatar"
                                         alt="Name" ngf-select="photoUpload($files,employee._id)" accept="image/*"/>
                                    <div flex class="md-list-item-text" layout="column">
                                        <h3 ng-bind="employee.employeeName"></h3>
                                        <p ng-bind="employee.title"></p>

                                    </div>

                                    <md-checkbox ng-checked="exists(employee, selectedEmployees)"
                                                 ng-click="toggle(employee, selectedEmployees)" ng-disabled="companyName !='NewCo'"
                                                 aria-label="Select"></md-checkbox>


                                </md-list-item>


                            </md-list>
                        </div>
                         <div flex="25">
                              <md-list class="md-dense">
                                <md-subheader class="md-no-sticky">
                                    <h4>Competence lost and gained</h4>
                                </md-subheader>
                            <md-list-item>
                                <p> Marketing Loss: {% raw %}{{ calculatedValues.marketingLoss }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> Development Loss : {% raw %}{{ calculatedValues.developmentLoss }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> Marketing Gain: {% raw %}{{ calculatedValues.marketingGain }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> Development Gain : {% raw %}{{ calculatedValues.developmentGain }}{% endraw %}</p>
                            </md-list-item>
                                  </md-list>
                        </div>
                    </div>
                    <md-subheader class="md-no-sticky">
                        <h4>
                            Influence attained by niche market
                        </h4>
                    </md-subheader>
                    <div flex layout="row">

                        <div flex="30">

                            <md-list-item>
                                <p> VRKidEd : {% raw %}{{ sumInfluenceSales.VRKidEd }}{% endraw %} </p>
                            </md-list-item>
                            <md-list-item>
                                <p> GovVR : {% raw %}{{ sumInfluenceSales.GovVR }}{% endraw %} </p>
                            </md-list-item>
                        </div>
                        <div flex="30">
                            <md-list-item>
                                <p> VRGames : {% raw %}{{ sumInfluenceSales.VRGames }}{% endraw %} </p>
                            </md-list-item>
                            <md-list-item>
                                <p> MilitaryVR : {% raw %}{{ sumInfluenceSales.MilitaryVR }}{% endraw %} </p>
                            </md-list-item>
                        </div>
                        <div flex="30">
                            <md-list-item>
                                <p> AdEdVR : {% raw %}{{ sumInfluenceSales.AdEdVR }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> VRCinema : {% raw %}{{ sumInfluenceSales.VRCinema }}{% endraw %}</p>
                            </md-list-item>
                        </div>

                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
            <md-tab-label>DOLLAR FUNDING</md-tab-label>
            <md-tab-body>
                <md-divider inset></md-divider>
                <div layout layout-align="center center" layout-margin="20px">

                    <div flex="40" layout>
                        <md-list-item class="md-2-line">
                            <div flex class="md-list-item-text">
                                <h3>Product Development Team # </h3>
                            </div>
                        </md-list-item>
                    </div>

                    <md-slider flex="30" ng-model="funding.additinalProductDeveloperNumber" min="0" max="100"
                               aria-label="additinalProductDeveloperNumber" id="additinalProductDeveloperNumber-slider"
                               class="md-accent">
                    </md-slider>
                    <div flex="20" layout layout-align="center center">
                        <input flex type="number" ng-model="funding.additinalProductDeveloperNumber"
                               aria-label="additinalProductDeveloperNumber"
                               aria-controls="additinalProductDeveloperNumber-slider">
                    </div>
                </div>

                <div layout layout-align="center center" layout-margin="20px">

                    <div flex="40" layout>
                        <md-list-item class="md-2-line">
                            <div flex class="md-list-item-text">
                                <h3>Calculated Time in days</h3>
                            </div>
                        </md-list-item>
                    </div>

                    <div flex="40" layout layout-align="center center">
                        <label flex type="number" ng-bind="funding.additinalProductDeveloperNumber*100"
                               aria-label="additinalProductDeveloperWorkdays"
                               aria-controls="additinalProductDeveloperWorkdays-slider"></label>
                    </div>
                </div>


                <div layout layout-align="center center" layout-margin="20px">

                    <div flex="40" layout>
                        <md-list-item class="md-2-line">
                            <div flex class="md-list-item-text">
                                <h3> # of Anticipated Sales Pitches</h3>
                            </div>
                        </md-list-item>
                    </div>

                    <md-slider flex="30" ng-model="funding.additinalSalesNumber" min="0" max="10"
                               aria-label="additinalSalesNumber" id="additinalSalesNumber-slider" class="md-accent">
                    </md-slider>
                    <div flex="20" layout layout-align="center center">
                        <input flex type="number" ng-model="funding.additinalSalesNumber"
                               aria-label="additinalSalesNumber" aria-controls="additinalSalesNumber-slider">
                    </div>
                </div>

                <div layout layout-align="center center" layout-margin="20px">

                    <div flex="40" layout>
                        <md-list-item class="md-2-line">
                            <div flex class="md-list-item-text">
                                <h3>Sales Pitch Budget </h3>
                            </div>
                        </md-list-item>
                    </div>


                    <div flex="40" layout layout-align="center center">
                        <label flex type="number" ng-bind="funding.additinalSalesNumber*40000"
                               aria-label="additinalSalesWorkdays" aria-controls="additinalSalesWorkdays-slider"/>
                    </div>
                </div>



            </md-tab-body>
        </md-tab>
        <md-tab id="tab3">
            <md-tab-label>SUMMARY</md-tab-label>
            <md-tab-body>
                    <md-list class="md-dense">

 <md-subheader class="md-no-sticky">
                        <h4>
                            Influence attained by niche market
                        </h4>
                    </md-subheader>
                    <div flex layout="row">

                        <div flex="30">

                            <md-list-item>
                                <p> VRKidEd : {% raw %}{{ sumInfluenceSales.VRKidEd }}{% endraw %} </p>
                            </md-list-item>
                            <md-list-item>
                                <p> GovVR : {% raw %}{{ sumInfluenceSales.GovVR }}{% endraw %} </p>
                            </md-list-item>
                        </div>
                        <div flex="30">
                            <md-list-item>
                                <p> VRGames : {% raw %}{{ sumInfluenceSales.VRGames }}{% endraw %} </p>
                            </md-list-item>
                            <md-list-item>
                                <p> MilitaryVR : {% raw %}{{ sumInfluenceSales.MilitaryVR }}{% endraw %} </p>
                            </md-list-item>
                        </div>
                        <div flex="30">
                            <md-list-item>
                                <p> AdEdVR : {% raw %}{{ sumInfluenceSales.AdEdVR }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> VRCinema : {% raw %}{{ sumInfluenceSales.VRCinema }}{% endraw %}</p>
                            </md-list-item>
                        </div>

                    </div>



                                <md-subheader class="md-no-sticky">
                                    <h4>Competence lost and gained</h4>
                                </md-subheader>
                            <md-list-item>
                                <p> Marketing Loss: {% raw %}{{ calculatedValues.marketingLoss }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> Development Loss : {% raw %}{{ calculatedValues.developmentLoss }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> Marketing Gain: {% raw %}{{ calculatedValues.marketingGain }}{% endraw %}</p>
                            </md-list-item>
                            <md-list-item>
                                <p> Development Gain : {% raw %}{{ calculatedValues.developmentGain }}{% endraw %}</p>
                            </md-list-item>


                <md-subheader class="md-no-sticky">
                    <h4>Total Headcount Costs: {% raw %}{{
                        funding.additinalProductDeveloperNumber*40000
                        }}{% endraw %}</h4>

                </md-subheader>
                    </md-list>
                <md-divider inset></md-divider>


            </md-tab-body>
        </md-tab>
    </md-tabs>


    <div class="md-actions" layout="row" layout-align="end end">
        <div layout-align="center center"><span ng-bind="message"></span></div>
        <span flex></span>

        <div>
            <md-button type="submit" id="submit" value="Submit"
                       ng-click="submit(selectedEmployees,funding,sumInfluenceSales,calculatedValues,action=true)"
                       ng-if="companyName=='LegacyCo'">
                Confirm
            </md-button>
             <md-button type="submit" id="submit" value="Submit"
                       ng-click="submit(selectedEmployees,funding,sumInfluenceSales,calculatedValues,action=false)"
                       ng-if="companyName=='LegacyCo'">
                Return
            </md-button>
            <md-button type="submit" id="submit" value="Submit"
                       ng-click="submit(selectedEmployees,funding,sumInfluenceSales,calculatedValues,action=false)"
                       ng-if="companyName=='NewCo'">
                Submit
            </md-button>

            <md-button type="button" ng-click="close()" style="margin-right:20px;">
                Cancel
            </md-button>
        </div>
    </div>

</md-dialog>




