<md-dialog aria-label="Comapany" style="width: 50%">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Niches</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="superuser">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

    <md-dialog-content>
            <div class="md-dialog-content">
                <md-list ng-cloak>
                    <md-subheader class="md-no-sticky">
                        <h4 ng-if="!categoryDisabled">Please Select The Niches To Focus </h4>
                    </md-subheader>

                    <div layout ng-repeat="niche in niches">
                        <div flex="40" layout layout-align="center center">
                            <md-list-item class="md-2-line">
                                <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="niche.niche"></h3>
                                    <p>1/3 of Total Market</p>
                                </div>
                            </md-list-item>
                        </div>
                        <div flex="15"  ng-if="niche.p4 != ''">
                         <md-checkbox ng-model="niche.p4.selected" aria-label="Checkbox">P4
                         </md-checkbox>
                        </div>
                         <div flex="15" >
                         <md-checkbox  ng-model="niche.p5.selected" aria-label="Checkbox">P5
                         </md-checkbox>
                        </div>
                         <div flex="15" >
                         <md-checkbox ng-model="niche.p6.selected" aria-label="Checkbox">P6
                         </md-checkbox>
                        </div>
                         <div flex="15">
                         <md-checkbox ng-model="niche.p7.selected" aria-label="Checkbox">P7
                         </md-checkbox>
                        </div>
                        <div flex="15" ng-if="niche.p8 != ''">
                         <md-checkbox ng-model="niche.p8.selected" aria-label="Checkbox">P8
                         </md-checkbox>
                        </div>
                    </div>
                <md-divider inset></md-divider>
                </md-list>


            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>

            <div>
                <md-button type="button" id="submit" ng-click="submit(niches)"  >
                    Submit
                </md-button>

                <md-button type="button" ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>


</md-dialog>




