<md-dialog aria-label="Comapany"  flex="60">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Project</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="current_user.permission != '0' ">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >
            <div class="md-dialog-content" style="max-height: 600px;min-height: 600px">
                <md-list class="md-dense" >

                            <md-list-item class="md-3-line" ng-repeat="project in projects">
                     <md-checkbox ng-checked="exists(project, selectedProjects)" ng-click="toggle(project, selectedProjects)" aria-label="Select"></md-checkbox>

                                <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="project.projectName"></h3>
                                     <h4> Market:{% raw %}{{ project.market }}{% endraw %},Cost Saving:{% raw %}{{ project.lowerOfCost }}{% endraw %},
                                         Sales Growth:{% raw %}{{ project.competence }}{% endraw %}
                                     Elapsed Dev. Time Periods:{% raw %}{{ project.elapsedDevTimePeriods }}{% endraw %}</h4>
                                    <p>Strategic Logic:{% raw %}{{ project.market }}{% endraw %} Total Cost:{% raw %}{{ project.totalCost }}{% endraw %}</p>

                                    <md-divider inset></md-divider>
                                    </div>
                                <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ng-click="openInfo(project.infoFile)" ng-if="project.infoFile">
                                <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ngf-select="infoFileUpload($files,project._id)" accept=".pdf"
                                     ng-if="superuser"/>
                            </md-list-item>

                </md-list>


            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>

            <div>
                <md-button ng-click="submit()" >
                    Submit
                </md-button>

                <md-button ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>


</md-dialog>




