
<md-dialog aria-label="Comapany" flex="40">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Resource Acquisition</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="superuser">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>

                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

       <md-tabs md-selected="selectedIndex" style="min-height:600px;max-height: 600px" md-swipe-content>
      <md-tab id="tab1" ng-if="resources_ls && resources_ls.length>1">
        <md-tab-label>Leadership</md-tab-label>
        <md-tab-body>
                            <md-list-item class="md-2-line" ng-repeat="resource in resources_ls" style="margin-left: 40px">
                             <md-checkbox ng-checked="exists(resource, selectedResources,'ls')" ng-click="toggle(resource, selectedResources,'ls')" aria-label="Select"></md-checkbox>
                         <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="resource.resourceName"></h3>
                                     <p>{% raw %}{{ resource.resourceType }}{% endraw %}
                                    Cost:{% raw %}{{ resource.cost }}{% endraw %}</p>
                                </div>
                                <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ng-click="openInfo(resource.infoFile)" ng-if="resource.infoFile">
                                <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ngf-select="infoFileUpload($files,resource._id)" accept=".pdf"
                                     ng-if="superuser"/>
                            </md-list-item>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2" ng-if="resources_ma && resources_ma.length>1">
        <md-tab-label>Marketing</md-tab-label>
        <md-tab-body>
              <md-list-item class="md-2-line" ng-repeat="resource in resources_ma" style="margin-left: 40px">
                             <md-checkbox ng-checked="exists(resource, selectedResources,'ma')" ng-click="toggle(resource, selectedResources,'ma')" aria-label="Select"></md-checkbox>
                         <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="resource.resourceName"></h3>
                                     <p>{% raw %}{{ resource.resourceType }}{% endraw %}
                                    Cost:{% raw %}{{ resource.cost }}{% endraw %}</p>
                                </div>
                  <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                       class="md-avatar"
                       alt="Name" ng-click="openInfo(resource.infoFile)" ng-if="resource.infoFile">
                  <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                       class="md-avatar"
                       alt="Name" ngf-select="infoFileUpload($files,resource._id)" accept=".pdf"
                       ng-if="superuser"/>
                            </md-list-item>

        </md-tab-body>
      </md-tab>
       <md-tab id="tab3" ng-if="resources_sa && resources_sa.length>1">
        <md-tab-label>Sales</md-tab-label>
               <md-tab-body>
                             <md-list-item class="md-2-line" ng-repeat="resource in resources_sa" style="margin-left: 40px">
                             <md-checkbox ng-checked="exists(resource, selectedResources,'sa')" ng-click="toggle(resource, selectedResources,'sa')" aria-label="Select"></md-checkbox>
                         <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="resource.resourceName"></h3>
                                     <p>{% raw %}{{ resource.resourceType }}{% endraw %}
                                    Cost:{% raw %}{{ resource.cost }}{% endraw %}</p>
                                </div>
                                 <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                                      class="md-avatar"
                                      alt="Name" ng-click="openInfo(resource.infoFile)" ng-if="resource.infoFile">
                                 <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                                      class="md-avatar"
                                      alt="Name" ngf-select="infoFileUpload($files,resource._id)" accept=".pdf"
                                      ng-if="superuser"/>
                            </md-list-item>

        </md-tab-body>
      </md-tab>
         <md-tab id="tab4" ng-if="resources_su && resources_su.length>1">
        <md-tab-label>Support</md-tab-label>
                <md-tab-body>
                            <md-list-item class="md-2-line" ng-repeat="resource in resources_su" style="margin-left: 40px">
                             <md-checkbox ng-checked="exists(resource, selectedResources,'su')" ng-click="toggle(resource, selectedResources,'su')" aria-label="Select"></md-checkbox>
                         <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="resource.resourceName"></h3>
                                     <p>{% raw %}{{ resource.resourceType }}{% endraw %}
                                    Cost:{% raw %}{{ resource.cost }}{% endraw %}</p>
                                </div>
                                <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ng-click="openInfo(resource.infoFile)" ng-if="resource.infoFile">
                                <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                                     class="md-avatar"
                                     alt="Name" ngf-select="infoFileUpload($files,resource._id)" accept=".pdf"
                                     ng-if="superuser"/>
                            </md-list-item>

            <md-divider md-inset="true"></md-divider>
        </md-tab-body>
      </md-tab>
         <md-tab id="tab5" ng-if="resources_li && resources_li.length>1">
        <md-tab-label>Logistics&IT</md-tab-label>
                <md-tab-body>
                             <md-list-item class="md-2-line" ng-repeat="resource in resources_li" style="margin-left: 40px">
                             <md-checkbox ng-checked="exists(resource, selectedResources,'li')" ng-click="toggle(resource, selectedResources,'li')" aria-label="Select"></md-checkbox>
                         <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="resource.resourceName"></h3>
                                     <p>{% raw %}{{ resource.resourceType }}{% endraw %}
                                    Cost:{% raw %}{{ resource.cost }}{% endraw %}</p>
                                </div>
                                 <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                                      class="md-avatar"
                                      alt="Name" ng-click="openInfo(resource.infoFile)" ng-if="resource.infoFile">
                                 <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                                      class="md-avatar"
                                      alt="Name" ngf-select="infoFileUpload($files,resource._id)" accept=".pdf"
                                      ng-if="superuser"/>
                            </md-list-item>
        </md-tab-body>
      </md-tab>
         <md-tab id="tab6" ng-if="resources_pd && resources_pd.length>1">
        <md-tab-label>Product Devlopment</md-tab-label>
                <md-tab-body>
                             <md-list-item class="md-2-line" ng-repeat="resource in resources_pd" style="margin-left: 40px">
                             <md-checkbox ng-checked="exists(resource, selectedResources,'pd')" ng-click="toggle(resource, selectedResources,'pd')" aria-label="Select"></md-checkbox>
                         <div flex class="md-list-item-text" layout="column">
                                    <h3 ng-bind="resource.resourceName"></h3>
                                     <p>{% raw %}{{ resource.resourceType }}{% endraw %}
                                    Cost:{% raw %}{{ resource.cost }}{% endraw %}</p>
                                </div>
                                 <img ng-src="{{ url_for('static', filename='icon/ic_description_gray_48px.svg') }}"
                                      class="md-avatar"
                                      alt="Name" ng-click="openInfo(resource.infoFile)" ng-if="resource.infoFile">
                                 <img ng-src="{{ url_for('static', filename='icon/ic_add_black_48px.svg') }}"
                                      class="md-avatar"
                                      alt="Name" ngf-select="infoFileUpload($files,resource._id)" accept=".pdf"
                                      ng-if="superuser"/>
                            </md-list-item>

        </md-tab-body>
      </md-tab>
    </md-tabs>
        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>
            <div>
                <md-button type="button" ng-click="submit()">
                    Submit
                </md-button>

                <md-button type="button" ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>


</md-dialog>




