<md-dialog aria-label="Workforce"  flex="80">

      <md-toolbar >
            <div class="md-toolbar-tools">
                <h3>WORKFORCE</h3>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="instruction()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_help_outline_white_48px.svg') }}"
                             aria-label="info"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="fileupload" ng-if="current_user.permission != '0' ">
                    <div ngf-select="fileSelected($files)" accept=".pdf">
                        <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_description_white_48px.svg') }}"
                                 aria-label="Files upload"></md-icon>
                    </div>
                </md-button>
                <md-button class="md-icon-button" type="button" ng-click="close()">
                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_clear_white_48px.svg') }}"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>


    <md-tabs  md-selected="selectedIndex" md-dynamic-height>

      <md-tab ng-repeat="wf in workforce">
        <md-tab-label>{% raw %}{{ wf.functions }}{% endraw %}</md-tab-label>
        <md-tab-body>
            <div layout style="margin-right:100px;margin-left:100px" layout-margin="10">
                <div flex="35" layout layout-align="center center">
                    <span class="md-body-1"></span>
                </div>
                <div flex="20" layout layout-align="center center">
                    <span class="md-body-1">Core</span>
                </div>
                <div flex="20" layout layout-align="center center">
                    <span class="md-body-1">Contract</span>
                </div>
                <div flex="20" layout layout-align="center center">
                    <span class="md-body-1">Total</span>
                </div>
            </div>

            <div layout style="margin-right:100px;margin-left:100px" layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Workforce at start of Period</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.valueatstart_core" aria-label="valueatstart"
                           aria-controls="valueatstart-slider" ng-disabled="true">
                </div>

                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.valueatstart_contract" aria-label="valueatstart"
                           aria-controls="valueatstart-slider" ng-disabled="true">
                </div>

                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.valueatstart_total" aria-label="valueatstart"
                           aria-controls="valueatstart-slider" ng-disabled="true">
                </div>
            </div>

            <div layout style="margin-right:100px;margin-left:100px" layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Size recommended by HR</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.recommended_core" aria-label="valuebyhr"
                           aria-controls="valuebyhr-slider" ng-disabled="true">
                </div>

                <div flex="20" layout layout-align="end center">
                <input flex type="number" ng-model="wf.recommended_contract" aria-label="valuebyhr"
                       aria-controls="valuebyhr-slider" ng-disabled="true">
            </div>
                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.recommended_total" aria-label="valuebyhr"
                           aria-controls="valuebyhr-slider" ng-disabled="true">
                </div>
            </div>

            <div layout style="margin-right:100px;margin-left:100px" layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Adjustment to Workforce</span>
                </div>
                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.adjustment_core" aria-label="adjustment"
                           aria-controls="adjustment-slider">
                </div>
                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.adjustment_contract" aria-label="adjustment"
                           aria-controls="adjustment-slider">
                </div>
                <div flex="20" layout layout-align="end center">
                    <input flex type="number" ng-model="wf.adjustment_total" aria-label="adjustment"
                           aria-controls="adjustment-slider">
                </div>
            </div>


            <div layout style="margin-right:100px;margin-left:100px" layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Adjustment to Workforce</span>
                </div>
                <md-slider flex="20" min=-1000 max=1000 ng-model="wf.adjustment_core"
                           aria-label="adjustment" id="adjustment-slider">
                </md-slider>
                <md-slider flex="20" min=-1000 max=1000 ng-model="wf.adjustment_contract"
                           aria-label="adjustment" id="adjustment-slider2">
                </md-slider>
                <div flex="20"></div>
            </div>

            <md-divider md-inset="true"></md-divider>

            <div layout style="margin-right:100px;margin-left:100px ;margin-top:10px;margin-bottom: 10px"
                 layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Adjusted Workforce</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    <label flex type="number" border=1
                           ng-bind="wf.adjustedworkforce_core"
                           aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    <label flex type="number" border=1
                           ng-bind="wf.adjustedworkforce_contract"
                           aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    <label flex type="number" border=1
                           ng-bind="wf.adjustedworkforce_total"
                           aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
            </div>

            <md-divider md-inset="true"></md-divider>

            <div layout style="margin-right:100px;margin-left:100px ;margin-top:10px;margin-bottom: 10px"
                 layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Cost of Workforce Adjustment</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustmentcost_core"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustmentcost_contract"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustmentcost_total"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:100px;margin-left:100px ;margin-top:10px;margin-bottom: 10px"
                 layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Business Function Wages</span>
                </div>

                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustwages_core"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustwages_contract"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustwages_total"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
            </div>

            <div layout style="margin-right:100px;margin-left:100px ;margin-top:10px;margin-bottom: 10px"
                 layout-align="space-between center">
                <div flex="35" layout layout-align="start center">
                    <span class="md-body-1">Calculated Expenses</span>
                </div>
                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustexpenses_core"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustexpenses_contract"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
                <div flex="20" layout layout-align="end center">
                    $<label flex type="number" border=1 ng-bind="wf.adjustexpenses_total"
                            aria-label="adjustedworkforce" aria-controls="adjustedworkforce-slider" ng-disabled="true"/>
                </div>
            </div>
            <md-divider md-inset="true"></md-divider>


        </md-tab-body>
      </md-tab>

        <md-tab id="tab0" >
        <md-tab-label>Summary</md-tab-label>
                <md-tab-body>

                    <div layout style="margin-right:100px;margin-left:100px ;margin-top:10px;margin-bottom: 10px"
                         layout-align="space-between center" ng-repeat="wf in workforce">
                        <div flex="45" layout layout-align="start center">
                            <span class="md-body-1">{% raw %}{{ wf.functions }}{% endraw %}</span>
                </div>

                        <div flex="40" layout layout-align="end center">
                            $<span> {% raw %}{{ wf.adjustmentcost_total }}{% endraw %}</span>
                </div>
            </div>
       <md-divider md-inset="true"></md-divider>


        </md-tab-body>
      </md-tab>
    </md-tabs>


        <div class="md-actions" layout="row" layout-align="end end">
            <div layout-align="center center"><span ng-bind="message"></span></div>
            <span flex></span>
            <div>
                <md-button ng-click="submit(workforce)" >
                    Submit
                </md-button>

                <md-button type="button" ng-click="close()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </div>
        </div>



</md-dialog>




