{% extends "base.html" %}

{% block jacascript %}
    <script src="{{ url_for('static', filename='script/account.js') }}"></script>
{% endblock %}

{% block content %}
    <div ng-controller="accountCtrl" layout="row">
        <md-card flex="25" flex-gt-lg="20">
            <md-list class="md-dense" flex>
                <md-list-item class="md-2-line" ng-click="toggleFunction(func)"
                              aria-label="settings" ng-repeat="func in tasks">
                    <img ng-src="{% raw %}{{ '/static/icon/'+ func.icon }}{% endraw %}"
                         class="md-avatar" alt="Photo"/>
                    <div class="md-list-item-text">
                        <h3>{% raw %}{{func.taskName }} {% endraw %}</h3>
                        {#                            <p>{% raw %}{{ func.description }} {% endraw %}</p>#}
                    </div>
                <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card>

        {#        <md-sidenav class="md-sidenav-left" md-component-id="account" md-is-locked-open="true" flex style="z-index: 0">#}
        {#          #}
        {#           <md-toolbar class="md-accent">#}
        {#                <h1 class="md-toolbar-tools">Accounts</h1>#}
        {#            </md-toolbar>#}
        {#            <md-content>#}
        {#                #}
        {#                <md-divider></md-divider>#}
        {#            </md-content>#}
        {#        </md-sidenav>#}

        {#        <md-content style="width: 100%;">#}

        {#            <md-grid-list ng-style="setHeight()" style="z-index: 0"#}
        {#                          md-row-height="fit"#}
        {#                          md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"#}
        {#                          md-row-height-gt-md="fit"#}
        {#                          md-gutter="6px" md-gutter-gt-sm="4px">#}
        {#                <md-grid-tile class="gray" md-colspan="{% raw %}{{ func.colspan }}{% endraw %}"#}
        {#                              md-rowspan="{% raw %}{{ func.rowspan }}{% endraw %}" md-colspan-sm="1" md-colspan-xs="1"#}
        {#                              md-whiteframe ng-repeat="func in functions" ng-click="toggleFunction(func.taskKey)">#}
        {##}
        {#                    <md-grid-tile-header>#}
        {#                        <h3 ng-bind="func.taskName"></h3>#}
        {#                    </md-grid-tile-header>#}

        <md-card ng-style="setTableHeight()" flex ng-if="selectedFunc.taskKey=='summary'">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column md-order-by="accountDescID"><span>Desc ID</span></th>
                                    <th md-column md-order-by="accountDescription"><span>Account Description</span></th>
                                    {#                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 3</span></th>#}
                                    <th md-column md-order-by="PeriodPre2"><span>Pre Period 2</span></th>
                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 1</span></th>
                                    <th md-column md-order-by="Period1"><span>Period 1</span></th>
                                    <th md-column md-order-by="Period2"><span>Period 2</span></th>
                                    <th md-column md-order-by="Period3"><span>Period 3</span></th>
                                    <th md-column md-order-by="Period4"><span>Period 4</span></th>
                                    <th md-column md-order-by="Period5"><span>Period 5</span></th>
                                    <th md-column md-order-by="Period6"><span>Period 6</span></th>
                                    <th md-column md-order-by="Period7"><span>Period 7</span></th>

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in data_total | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{rec['Desc ID']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Account Description']}}{% endraw %}</td>
                                    {#                                    <td md-cell>{% raw %}{{rec['PeriodPre3']}}{% endraw %}</td>#}
                                    <td md-cell>{% raw %}{{rec['PeriodPre2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['PeriodPre1']}}{% endraw %}</td>

                                    <td md-cell>{% raw %}{{rec['Period1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period3']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period4']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period5']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period6']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period7']}}{% endraw %}</td>
                                </tr>

                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{data.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card ng-style="setTableHeight()" flex
                 ng-if="selectedFunc.taskKey=='pl'">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column md-order-by="accountDescID"><span>Desc ID</span></th>
                                    <th md-column md-order-by="accountDescription"><span>Account Description</span></th>
                                    {#                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 3</span></th>#}
                                    <th md-column md-order-by="PeriodPre2"><span>Pre Period 2</span></th>
                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 1</span></th>
                                    <th md-column md-order-by="Period1"><span>Period 1</span></th>
                                    <th md-column md-order-by="Period2"><span>Period 2</span></th>
                                    <th md-column md-order-by="Period3"><span>Period 3</span></th>
                                    <th md-column md-order-by="Period4"><span>Period 4</span></th>
                                    <th md-column md-order-by="Period5"><span>Period 5</span></th>
                                    <th md-column md-order-by="Period6"><span>Period 6</span></th>
                                    <th md-column md-order-by="Period7"><span>Period 7</span></th>

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in data_profitAndLoss | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{rec['Desc ID']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Account Description']}}{% endraw %}</td>
                                    {#                                    <td md-cell>{% raw %}{{rec['PeriodPre3']}}{% endraw %}</td>#}
                                    <td md-cell>{% raw %}{{rec['PeriodPre2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['PeriodPre1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period3']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period4']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period5']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period6']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period7']}}{% endraw %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{data_profitAndLoss.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>
        </md-card>

        <md-card ng-style="setTableHeight()" flex
                 ng-if="selectedFunc.taskKey=='balance'">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column md-order-by="accountDescID"><span>Desc ID</span></th>
                                    <th md-column md-order-by="accountDescription"><span>Account Description</span></th>
                                    {#                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 3</span></th>#}
                                    <th md-column md-order-by="PeriodPre2"><span>Pre Period 2</span></th>
                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 1</span></th>
                                    <th md-column md-order-by="Period1"><span>Period 1</span></th>
                                    <th md-column md-order-by="Period2"><span>Period 2</span></th>
                                    <th md-column md-order-by="Period3"><span>Period 3</span></th>
                                    <th md-column md-order-by="Period4"><span>Period 4</span></th>
                                    <th md-column md-order-by="Period5"><span>Period 5</span></th>
                                    <th md-column md-order-by="Period6"><span>Period 6</span></th>
                                    <th md-column md-order-by="Period7"><span>Period 7</span></th>

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in data_balance | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{rec['Desc ID']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Account Description']}}{% endraw %}</td>
                                    {#                                    <td md-cell>{% raw %}{{rec['PeriodPre3']}}{% endraw %}</td>#}
                                    <td md-cell>{% raw %}{{rec['PeriodPre2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['PeriodPre1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period3']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period4']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period5']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period6']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period7']}}{% endraw %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{data_balance.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card ng-style="setTableHeight()" flex ng-if="selectedFunc.taskKey=='cashflow'">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column md-order-by="accountDescID"><span>Desc ID</span></th>
                                    <th md-column md-order-by="accountDescription"><span>Account Description</span></th>
                                    {#                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 3</span></th>#}
                                    <th md-column md-order-by="PeriodPre2"><span>Pre Period 2</span></th>
                                    <th md-column md-order-by="PeriodPre1"><span>Pre Period 1</span></th>
                                    <th md-column md-order-by="Period1"><span>Period 1</span></th>
                                    <th md-column md-order-by="Period2"><span>Period 2</span></th>
                                    <th md-column md-order-by="Period3"><span>Period 3</span></th>
                                    <th md-column md-order-by="Period4"><span>Period 4</span></th>
                                    <th md-column md-order-by="Period5"><span>Period 5</span></th>
                                    <th md-column md-order-by="Period6"><span>Period 6</span></th>
                                    <th md-column md-order-by="Period7"><span>Period 7</span></th>

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in data_cashflow | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{rec['Desc ID']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Account Description']}}{% endraw %}</td>
                                    {#                                    <td md-cell>{% raw %}{{rec['PeriodPre3']}}{% endraw %}</td>#}
                                    <td md-cell>{% raw %}{{rec['PeriodPre2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['PeriodPre1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period3']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period4']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period5']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period6']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period7']}}{% endraw %}</td>
                                </tr>

                                </tbody>
                            </table>

                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{data_cashflow.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        {#                    <div style="width:100%;" ng-if="func.taskKey=='summary'&&func.rowspan==1" >#}
        {#                        Counter : {% raw %} {{ data_total.length }} {% endraw %}#}
        {#                    </div>#}
        {#                    <div style="width:100%;" ng-if="func.taskKey=='pl'&&func.rowspan==1" >#}
        {#                        Counter : {% raw %} {{ data_profitAndLoss.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {#                    <div style="width:100%;" ng-if="func.taskKey=='balance'&&func.rowspan==1">#}
        {#                        Counter : {% raw %} {{ data_balance.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {#                    <div style="width:100%;" ng-if="func.taskKey=='cashflow'&&func.rowspan==1">#}
        {#                        Counter : {% raw %} {{ data_cashflow.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {##}
        {##}
        {##}
        {#                </md-grid-tile>#}
        {#            </md-grid-list>#}
        {#        </md-content>#}

    </div>

{% endblock %}
