{% extends "base.html" %}

{% block jacascript %}
    <script src="{{ url_for('static', filename='script/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
    <div ng-controller="dashboardCtrl" layout="row" ng-cloak>
        <md-sidenav class="md-sidenav-left" md-component-id="settings" md-is-locked-open="true" flex style="z-index: 0">
            <md-toolbar class="md-accent">
                <h1 class="md-toolbar-tools">Dashboard</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line" ng-click="toggleFunction(func.taskKey)"
                                  aria-label="settings" ng-repeat="func in tasks">
                        <img ng-src="{% raw %}{{ '/static/icon/'+ func.icon }}{% endraw %}"
                             class="md-avatar" alt="Photo"/>
                        <div class="md-list-item-text">
                            <h3>{% raw %}{{func.taskName }} {% endraw %}</h3>
                            <p>{% raw %}{{ func.description }} {% endraw %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
                <md-divider></md-divider>
            </md-content>
        </md-sidenav>

        <md-content style="width: 100%;">
            <md-grid-list ng-style="setHeight()" style="z-index: 0"
                          md-row-height="fit"
                          md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"
                          md-row-height-gt-md="fit"
                          md-gutter="6px" md-gutter-gt-sm="4px">
                <md-grid-tile class="gray" md-colspan="{% raw %}{{ func.colspan }}{% endraw %}"
                              md-rowspan="{% raw %}{{ func.rowspan }}{% endraw %}" md-colspan-sm="1" md-colspan-xs="1"
                              md-whiteframe ng-repeat="func in functions">

                    <md-grid-tile-header>
                        <h3 ng-bind="func.taskName"></h3>
                    </md-grid-tile-header>

                    <div style="width:100%;" ng-style="setTableHeight()"
                         ng-if="func.taskKey=='summary'&&func.rowspan!=1">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column md-order-by="accountDescID"><span>Desc ID</span></th>
                                    <th md-column md-order-by="accountDescription"><span>Account Description</span></th>
                                    <th md-column md-order-by="Period1"><span>Period 1</span></th>
                                    <th md-column md-order-by="Period2"><span>Period 2</span></th>
                                    <th md-column md-order-by="Period3"><span>Period 3</span></th>
                                    <th md-column md-order-by="Period4"><span>Period 4</span></th>
                                    <th md-column md-order-by="Period5"><span>Period 5</span></th>
                                    <th md-column md-order-by="Period6"><span>Period 6</span></th>
                                    <th md-column md-order-by="Period7"><span>Period 7</span></th>

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in data_total | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{rec['Desc ID']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Account Description']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period1']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period2']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period3']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period4']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period5']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period6']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['Period7']}}{% endraw %}</td>
                                </tr>

                                </tbody>
                            </table>

                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{users.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

                    </div>

                    <div style="width:100%;" ng-style="setTableHeight()"
                         ng-if="func.taskKey =='databackup'&&func.rowspan!=1">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column><span></span></th>
                                    <th md-column md-order-by="backupName"><span>Backup Name</span></th>
                                    <th md-column md-order-by="database"><span>Database #</span></th>
                                    <th md-column md-order-by="username"><span>Created By</span></th>
                                    <th md-column md-order-by="backupDate"><span>Created Date</span></th>
                                    <th md-column md-order-by=""><span>Delete / Restore / Download</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="rec in backupRecords | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{ $index+(query.limit*(query.page-1))+1 }}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['backupName']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['database'].length}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['username']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['backupDate']}}{% endraw %}</td>
                                    <td md-cell>
                                        <div layout flex="65">
                                            <md-button ng-click="deleteBackup(rec)"
                                                       class="md-icon-button">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_delete_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                            <md-button ng-click="restore(rec)"
                                                       class="md-icon-button" style="">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_restore_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                            <md-button ng-click="downloadbackup(rec)"
                                                       class="md-icon-button" style="">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_file_download_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div>
                                <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="backupsetting()">
                                    <md-icon aria-label="Menu"
                                             md-svg-icon="{{ url_for('static', filename='icon/ic_cloud_upload_white_48px.svg') }}"></md-icon>
                                </md-button>
                            </div>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{backupRecords.length}}{% endraw %}"
                                             md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

                    </div>

                    <div style="width:100%;" ng-style="setTableHeight()"
                         ng-if="func.taskKey=='systemsettings'&&func.rowspan!=1">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column><span></span></th>
                                    <th md-column md-order-by="group"><span>Setting Name</span></th>
                                    <th md-column md-order-by=""><span>Edit</span></th>

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in settings | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{  $index+(query.limit*(query.page-1))+1  }}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['group']}}{% endraw %}</td>

                                    <td md-cell>
                                        <div layout flex="45">
                                            <md-button ng-click="editSetting(rec)" style="margin-left: -10px"
                                                       class="md-icon-button">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_edit_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                        </div>
                                    </td>

                                </tr>

                                </tbody>
                            </table>

                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{settings.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

                    </div>

                    <div style="width:100%;" ng-style="setTableHeight()"
                         ng-if="func.taskKey=='datainitialization'&&func.rowspan!=1">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column><span></span></th>
                                    <th md-column md-order-by="item"><span>Item</span></th>
                                    <th md-column md-order-by="sheetname"><span>Sheet Name</span></th>
                                    <th md-column md-order-by="orderlist"><span>Order</span></th>
                                    <th md-column md-order-by="upload_date"><span>Upload Date</span></th>
                                    <th md-column md-order-by=""><span>Upload / Download</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="dc in dataConf | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{  $index+(query.limit*(query.page-1))+1  }}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{ dc['item']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{ dc['sheetname']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{ dc['orderlist']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{ dc['upload_date']}}{% endraw %}</td>
                                    <td md-cell>
                                        <div layout flex="80">
                                            <md-button class="md-icon-button" aria-label="fileupload">
                                                <div ngf-select="fileSelected($files,dc)" accept=".xlsx">
                                                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_cloud_upload_black_48px.svg') }}"
                                                             aria-label="Files upload"></md-icon>
                                                </div>
                                            </md-button>

                                            <md-button ng-click="downloadfile(dc)"
                                                       class="md-icon-button">

                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_file_download_black_48px.svg') }}"></md-icon>
                                            </md-button>


                                            {#                                            <md-button ng-click="uploadfile(dc)"#}
{#                                                       class="md-icon-button">#}
{#                                                <md-icon aria-label="Menu"#}
{#                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_cloud_upload_black_48px.svg') }}"></md-icon>#}
{#                                            </md-button>#}
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div>
                                <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="addDataConf()">
                                    <md-icon aria-label="Menu"
                                             md-svg-icon="{{ url_for('static', filename='icon/ic_add_white_48px.svg') }}"></md-icon>
                                </md-button>
                            </div>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{users.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

                    </div>

                    <div style="width:100%;" ng-if="func.taskKey=='userpermission'&&func.rowspan==1">
                        Total users: {% raw %} {{ users.length }} {% endraw %}
                        </div>

                    <div style="width:100%;" ng-if="func.taskKey=='databackup'&&func.rowspan==1">
                        Total backups: {% raw %} {{ backupRecords.length }} {% endraw %}
                        </div>

                    <div style="width:100%;" ng-if="func.taskKey=='systemsettings'&&func.rowspan==1">
                        Total settings: {% raw %} {{ settings.length }} {% endraw %}
                        </div>

                </md-grid-tile>
            </md-grid-list>
        </md-content>

    </div>

{% endblock %}
