{% extends "base.html" %}

{% block jacascript %}
    <script src="{{ url_for('static', filename='script/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
    <div ng-controller="dashboardCtrl" layout="row" ng-cloak>
        <md-card flex="25" flex-gt-lg="20">
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line" ng-click="toggleFunction(func)"
                                  aria-label="settings" ng-repeat="func in tasks">
                        <img ng-src="{% raw %}{{ '/static/icon/'+ func.icon }}{% endraw %}"
                             class="md-avatar" alt="Photo"/>
                        <div class="md-list-item-text">
                            <h3>{% raw %}{{func.taskName }} {% endraw %}</h3>
                            <p>{% raw %}{{ func.description }} {% endraw %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
        </md-card>

        {#        <md-content style="width: 100%;">#}
        {#            <md-grid-list ng-style="setHeight()" style="z-index: 0"#}
        {#                          md-row-height="fit"#}
        {#                          md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"#}
        {#                          md-row-height-gt-md="fit"#}
        {#                          md-gutter="6px" md-gutter-gt-sm="4px">#}
        {#                <md-grid-tile class="gray" md-colspan="{% raw %}{{ func.colspan }}{% endraw %}"#}
        {#                              md-rowspan="{% raw %}{{ func.rowspan }}{% endraw %}" md-colspan-sm="1" md-colspan-xs="1"#}
        {#                              md-whiteframe ng-repeat="func in functions" ng-click="toggleFunction(func.taskKey)">#}
        {##}
        {#                    <md-grid-tile-header>#}
        {#                        <h3 ng-bind="func.taskName"></h3>#}
        {#                    </md-grid-tile-header>#}


        <md-card flex ng-style="setTableHeight()"
                 ng-if="selectedFunc.taskKey=='value'">
            <md-data-table-container>
                <table md-table>
                    <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="query.order"><span>Item</span></th>
                        <th md-column><span>Previous</span></th>
                        <th md-column><span>Current</span></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr md-row
                        ng-repeat="pandl in great_value | orderBy: query.order | limitTo: limit_great_value.limit : (query.page -1) * limit_great_value.limit">
                        <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->

                        <td md-cell>{% raw %}{{pandl.key}}{% endraw %}</td>
                        <!--  <td>
                            <md-select ng-model="dessert.type" placeholder="Other">
                              <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                            </md-select>
                          </td>-->

                        <td md-cell>{% raw %}{{pandl.Previus}}{% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.Current}}{% endraw %}</td>


                    </tr>

                    </tbody>
                </table>
            </md-data-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{users.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card flex ng-style="setTableHeight()" ng-if="selectedFunc.taskKey =='market'">
            <md-data-table-container>
                <table md-table>
                    <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="query.order" name="Niche"><span></span></th>
                        <th md-column><span>Previous</span></th>
                        <th md-column><span>Previous Rank #</span></th>
                        <th md-column><span>Current</span></th>
                        <th md-column><span>Current Rank #</span></th>
                    </tr>

                    </thead>
                    <tbody md-body>

                    <tr md-row
                        ng-repeat="pandl in marketPerformance_value | orderBy: query.order | limitTo: limit_marketPerformance_value.limit : (query.page -1) * limit_marketPerformance_value.limit">
                        <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->

                        <td md-cell> {% raw %}{{pandl.niche}}{% endraw %}</td>
                        <!--  <td>
                            <md-select ng-model="dessert.type" placeholder="Other">
                              <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                            </md-select>
                          </td>-->


                        <td md-cell>  {% raw %}{{pandl.values.Previous}} {% endraw %}</td>
                        <td md-cell> {% raw %}{{pandl.values.rankPrevious}} {% endraw %}</td>
                        <td md-cell> {% raw %}{{pandl.values.Current}} {% endraw %}</td>
                        <td md-cell> {% raw %}{{pandl.values.rankCurrent}} {% endraw %}</td>


                    </tr>

                    </tbody>
                </table>
            </md-data-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{backupRecords.length}}{% endraw %}"
                                             md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card flex ng-style="setTableHeight()"
                 ng-if="selectedFunc.taskKey=='management'">
            <md-data-table-container>
                <table md-table>
                    <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="query.query_mp" name=""><span>Function</span></th>
                        <th md-column><span>P: Competence</span></th>
                        <th md-column><span>P:Rank</span></th>
                        <th md-column><span>C:Competence</span></th>
                        <th md-column><span>C: Rank</span></th>
                        <th md-column><span>P: Stress</span></th>
                        <th md-column><span>P:Rank</span></th>
                        <th md-column><span>C:Stress</span></th>
                        <th md-column><span>C: Rank</span></th>
                        <th md-column><span>P: Adaptability</span></th>
                        <th md-column><span>P:Rank</span></th>
                        <th md-column><span>C:Adaptability</span></th>
                        <th md-column><span>C: Rank</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>

                    <tr md-row
                        ng-repeat="pandl in managementPerformance_value | orderBy: query_mp.order | limitTo: limit_managementPerformance_value.limit : (query_mp.page -1) * limit_managementPerformance_value.limit">
                            <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->

                        <td md-cell>{% raw %}{{pandl.function}} {% endraw %}</td>
                            <!--  <td>
                                <md-select ng-model="dessert.type" placeholder="Other">
                                  <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                                </md-select>
                              </td>-->

                        <td md-cell>{% raw %}{{pandl.values.competenceIndexPrevious}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.competenceIndexRankPrevious}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.competenceIndexCurrent}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.competenceIndexRankCurrent}} {% endraw %}</td>

                        <td md-cell>{% raw %}{{pandl.values.stressIndexPrevious}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.stressIndexRankPrevious}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.stressIndexCurrent}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.stressIndexRankCurrent}} {% endraw %}</td>

                        <td md-cell>{% raw %}{{pandl.values.adaptabilityIndexPrevious}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.adaptabilityIndexRankPrevious}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.adaptabilityIndexCurrent}} {% endraw %}</td>
                        <td md-cell>{% raw %}{{pandl.values.adaptabilityIndexRankCurrent}} {% endraw %}</td>

                    </tr>

                    </tbody>
                </table>
            </md-data-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{settings.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card flex ng-style="setTableHeight()"
                 ng-if="selectedFunc.taskKey=='financial'">

            <md-data-table-container>
                <table md-table>
                    <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="query.order"></th>


                        <th md-column><span>Previus</span></th>
                        <th md-column><span>Rank</span></th>
                        <th md-column><span>Current</span></th>
                        <th md-column><span>Rank</span></th>

                    </tr>
                    </thead>
                    <tbody md-body>

                    <tr md-row
                        ng-repeat="pandl in financialPerformance_value | orderBy: query.order | limitTo: limit_financialPerformance_value.limit : (query.page -1) * limit_financialPerformance_value.limit">
                        <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->

                        <td md-cell> {% raw %}{{pandl.financialItem}} {% endraw %}</td>
                        <!--  <td>
                            <md-select ng-model="dessert.type" placeholder="Other">
                              <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                            </md-select>
                          </td>-->

                        <td md-cell> {% raw %}{{pandl.values.Previous}} {% endraw %}</td>
                        <td md-cell> {% raw %}{{pandl.values.rankPrevious}} {% endraw %}</td>
                        <td md-cell> {% raw %}{{pandl.values.Current}} {% endraw %}</td>
                        <td md-cell> {% raw %}{{pandl.values.rankCurrent}} {% endraw %}</td>

                    </tr>

                    </tbody>
                </table>
            </md-data-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{users.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        {#                    <div style="width:100%;" ng-if="func.taskKey=='userpermission'&&func.rowspan==1">#}
        {#                        Total users: {% raw %} {{ users.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {#                    <div style="width:100%;" ng-if="func.taskKey=='databackup'&&func.rowspan==1">#}
        {#                        Total backups: {% raw %} {{ backupRecords.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {#                    <div style="width:100%;" ng-if="func.taskKey=='systemsettings'&&func.rowspan==1">#}
        {#                        Total settings: {% raw %} {{ settings.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {#                </md-grid-tile>#}
        {#            </md-grid-list>#}
        {#        </md-content>#}

    </div>

{% endblock %}
