{% extends 'base.html' %}
{% block javascript %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.min.css') }}">
<script src="{{ url_for('static', filename='lib/nv.d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/finance.js') }}"></script>
{% endblock %}
{% block menuItems %}

{% endblock %}

{% block content %}
    <div ng-controller="contentCtrl" layout="column" ng-cloak>
 <div class ="totalprogressline" layout-align="end end" flex="5">
         <md-progress-linear md-mode="determinate" class="md-accent md-hue-2" value="{% raw %}{{ userAtCompany.currentPeriod/0.125 }}{% endraw %}"></md-progress-linear>
    </div>

 <md-content class="md-padding" style="margin-bottom: 50px" >
   <md-tabs md-selected="selectedIndex"  md-border-bottom md-dynamic-height md-autoselect>
        <md-tab id="tab0" >
        <md-tab-label>SUMMARY OF ACCOUNTS</md-tab-label>
        <md-tab-body>
                        <md-data-table-container>
                          <table md-data-table  md-progress="deferred" > <!-- md-row-select="selected"-->
                            <thead md-order="query.order" md-trigger="onorderchange">
                              <tr>
                                <th class="custom" order-by="query.order" name="Account"></th>


                                   <th numeric name="Period#1"></th>
                                <th numeric name="Period#2"></th>
                                <th numeric name="Period#3"></th>
                                <th numeric name="Period#4"></th>
                                <th numeric name="Period#5"></th>
                                <th numeric name="Period#6"></th>
                                <th numeric name="Period#7"></th>
                              </tr>
                            </thead>
                            <tbody>
                            <div flex >
                              <tr data-ng-repeat="pandl in data_total | orderBy: query.order | limitTo: limit_total.limit : (query.page -1) * limit_total.limit" >
                               <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->
                                  {% raw %} <td>{{pandl.accountDescID+'/'+pandl.accountDescription}}</td>
                              <!--  <td>
                                  <md-select ng-model="dessert.type" placeholder="Other">
                                    <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                                  </md-select>
                                </td>-->

                                <td>{{pandl.values.Period1}}</td>
                                <td>{{pandl.values.Period2}}</td>
                                <td>{{pandl.values.Period3}}</td>
                                <td>{{pandl.values.Period4}}</td>
                                <td>{{pandl.values.Period5}}</td>
                                <td>{{pandl.values.Period6}}</td>
                                <td>{{pandl.values.Period7}}</td>
                                  {% endraw %}
                              </tr>
                            </div>
                            </tbody>
                          </table>
                        </md-data-table-container>

                     <!--   <md-data-table-pagination md-limit="limit_total.limit" md-page="query.page" md-total="{/% raw %} {/{limit_total.limit}}{/% endraw %} " md-trigger="onpagechange"></md-data-table-pagination>
-->
 <md-divider ></md-divider>

        </md-tab-body>
      </md-tab>

                <md-tab id="tab1" >
        <md-tab-label>THE PROFIT AND LOSS STATEMENT</md-tab-label>
        <md-tab-body>

                        <md-data-table-container>
                          <table md-data-table  md-progress="deferred" > <!-- md-row-select="selected"-->
                            <thead md-order="query.order" md-trigger="onorderchange">
                              <tr>

                                <th class="custom" order-by="query.order" name="Account"></th>


                                    <th numeric name="Period#1"></th>
                                <th numeric name="Period#2"></th>
                                <th numeric name="Period#3"></th>
                                <th numeric name="Period#4"></th>
                                <th numeric name="Period#5"></th>
                                <th numeric name="Period#6"></th>
                                <th numeric name="Period#7"></th>
                              </tr>
                            </thead>
                            <tbody>
                            <div flex class="scrollme" ng-scrollbar>

                              <tr data-ng-repeat="pandl in data_profitAndLoss | orderBy: query.order | limitTo: limit_profitAndLoss.limit : (query.page -1) * limit_profitAndLoss.limit" >
                               <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->
                                  {% raw %} <td>{{pandl.accountDescID+'/'+pandl.accountDescription}}</td>
                              <!--  <td>
                                  <md-select ng-model="dessert.type" placeholder="Other">
                                    <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                                  </md-select>
                                </td>-->


                                <td>{{pandl.values.Period1}}</td>
                                <td>{{pandl.values.Period2}}</td>
                                <td>{{pandl.values.Period3}}</td>
                                <td>{{pandl.values.Period4}}</td>
                                <td>{{pandl.values.Period5}}</td>
                                <td>{{pandl.values.Period6}}</td>
                                <td>{{pandl.values.Period7}}</td>
                                  {% endraw %}
                              </tr>
                            </div>
                            </tbody>
                          </table>
                        </md-data-table-container>

                   <!--     <md-data-table-pagination md-limit="limit_profitAndLoss.limit" md-page="query.page" md-total="{% raw %} {{limit_profitAndLoss.limit}}{% endraw %} " md-trigger="onpagechange"></md-data-table-pagination>
-->
            <md-divider ></md-divider>

        </md-tab-body>
      </md-tab>
                <md-tab id="tab2" >
        <md-tab-label>Balance Sheet</md-tab-label>
        <md-tab-body>

                        <md-data-table-container>
                          <table md-data-table  md-progress="deferred" > <!-- md-row-select="selected"-->
                            <thead md-order="query.order" md-trigger="onorderchange">
                              <tr>

                                <th class="custom" order-by="query.order" name="Account"></th>

<th numeric name="Period#0"></th>
                                    <th numeric name="Period#1"></th>
                                <th numeric name="Period#2"></th>
                                <th numeric name="Period#3"></th>
                                <th numeric name="Period#4"></th>
                                <th numeric name="Period#5"></th>
                                <th numeric name="Period#6"></th>
                                <th numeric name="Period#7"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="pandl in data_balance | orderBy: query.order | limitTo: limit_balance.limit : (query.page -1) * limit_balance.limit" >
                               <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->
                                  {% raw %} <td>{{pandl.accountDescID+'/'+pandl.accountDescription}}</td>
                              <!--  <td>
                                  <md-select ng-model="dessert.type" placeholder="Other">
                                    <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                                  </md-select>
                                </td>-->

<td>{{pandl.values.Period0}}</td>
                                <td>{{pandl.values.Period1}}</td>
                                <td>{{pandl.values.Period2}}</td>
                                <td>{{pandl.values.Period3}}</td>
                                <td>{{pandl.values.Period4}}</td>
                                <td>{{pandl.values.Period5}}</td>
                                <td>{{pandl.values.Period6}}</td>
                                <td>{{pandl.values.Period7}}</td>
                                  {% endraw %}
                              </tr>
                            </tbody>
                          </table>
                        </md-data-table-container>

 <md-divider ></md-divider>
                       <!-- <md-data-table-pagination md-limit="limit_balance.limit" md-page="query.page" md-total="{/% raw %} {/{limit_balance.limit}}{/% endraw %} " md-trigger="onpagechange"></md-data-table-pagination>
-->






        </md-tab-body>
      </md-tab>
                <md-tab id="tab3" >
        <md-tab-label>Cash Flow</md-tab-label>
        <md-tab-body>


                        <md-data-table-container>
                          <table md-data-table  md-progress="deferred" > <!-- md-row-select="selected"-->
                            <thead md-order="query.order" md-trigger="onorderchange">
                              <tr>

                                <th class="custom" order-by="query.order" name="Account"></th>

                                    <th numeric name="Period#1"></th>
                                <th numeric name="Period#2"></th>
                                <th numeric name="Period#3"></th>
                                <th numeric name="Period#4"></th>
                                <th numeric name="Period#5"></th>
                                <th numeric name="Period#6"></th>
                                <th numeric name="Period#7"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="pandl in data_cashflow | orderBy: query.order | limitTo: limit_cashflow.limit : (query.page -1) * limit_cashflow.limit" >
                               <!--  md-auto-select md-disable-select="dessert.calories.value > 300" -->
                                  {% raw %} <td>{{pandl.accountDescID+'/'+pandl.accountDescription}}</td>
                              <!--  <td>
                                  <md-select ng-model="dessert.type" placeholder="Other">
                                    <md-option ng-value="type" ng-repeat="type in getTypes()">{\% raw %}{\{type}}{\% endraw %}</md-option>
                                  </md-select>
                                </td>-->

                                <td>{{pandl.values.Period1}}</td>
                                <td>{{pandl.values.Period2}}</td>
                                <td>{{pandl.values.Period3}}</td>
                                <td>{{pandl.values.Period4}}</td>
                                <td>{{pandl.values.Period5}}</td>
                                <td>{{pandl.values.Period6}}</td>
                                <td>{{pandl.values.Period7}}</td>
                                  {% endraw %}
                              </tr>
                            </tbody>
                          </table>
                        </md-data-table-container>

 <md-divider ></md-divider>
                     <!--   <md-data-table-pagination md-limit="limit_cashflow.limit" md-page="query.page" md-total="{% raw %} {{limit_cashflow.limit}}{% endraw %} " md-trigger="onpagechange"></md-data-table-pagination>
-->






        </md-tab-body>
      </md-tab>
    </md-tabs>
</md-content>


 <md-toolbar class="md-accent md-hue-2" style="position:absolute;bottom: 0;" flex>
      <div class="md-toolbar-tools " layout="row" layout-align="space-between end">
           <div flex="50">
            <p>{% raw %}{{current_user.username }} - {{userAtCompany.companyName }}  {{userAtCompany.userrole }}{% endraw %}
             - {% raw %}{{userAtCompany.teamName }}{% endraw %}({% raw %}{{ teammembers.length }}{% endraw %})
             - Period : {% raw %}{{userAtCompany.currentPeriod}}{% endraw %}</p>
            </div>
            <div layout="row" flex="60">

            </div>
        </div>
</md-toolbar>



</div>




{% endblock %}