{% extends 'base.html' %}

{% block javascript %}
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}


{% block content %}
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
    <style>
        body {
            margin: 0;
            background: rgba(255, 255, 255, 0);
            min-width: 960px;
        }

        rect {
            fill: none;
            pointer-events: all;
        }

        circle {
            fill: none;
            stroke-width: 2.5px;
        }

    </style>

     <div ng-controller="contentCtrl" layout="column" ng-cloak>
     <div class ="totalprogressline" layout-align="end end">
         <md-progress-linear md-mode="determinate" class="md-accent md-hue-2" value="{% raw %}{{ userAtCompany.currentPeriod/0.125 }}{% endraw %}"></md-progress-linear>
    </div>
<div>
    <video style="position: fixed; right: 0; bottom:100px;top:64px; min-width: 100%; min-height: 90%; width: auto; height: auto;" controls autoplay>
        <source src="static/start.mp4" type="video/mp4">

    </video>
</div>
    </div>

{% endblock %}
