{% extends 'base.html' %}

{% block javascript %}
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}


{% block content %}
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
    <style>
        body {
            margin: 0;
            background: rgba(255, 255, 255, 0);
            min-width: 960px;
        }

        rect {
            fill: none;
            pointer-events: all;
        }

        circle {
            fill: none;
            stroke-width: 2.5px;
        }

    </style>

     <div ng-controller="contentCtrl" layout="column" ng-cloak>
         {#         <md-card#}
         {#                 style="position: absolute;top:90px;width:30%;font-size:32px;color:white;z-index: 100;background-color: transparent">#}
         {#             <md-card-title>#}
         {#                 <md-card-title-text>#}
         {#                     <span class="md-headline" style="font-size:48px;">Information</span>#}
         {#                 </md-card-title-text>#}
         {#                 <md-card-content>#}
         {#    <span>The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important#}
         {#        words in Ernest Greene's musical language: feel it. It's a simple request, as well...</span>#}
         {#                     <span>The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important#}
         {#        words in Ernest Greene's musical language: feel it. It's a simple request, as well...</span>#}
         {#                 </md-card-content>#}
         {#             </md-card-title>#}
         {#         </md-card>#}

         <div>
             <video style="position: fixed; right: 0; bottom:100px;top:64px; min-width: 100%; min-height: 90%; width: auto; height: auto;"
                    controls loop autoplay>
                 <source src="https://webassets.mongodb.com/_com_assets/media/mdb-video-hero-hp-mongodb-16-9.mp4"
                         type="video/mp4">
    </video>
</div>
    </div>

{% endblock %}
