{% extends "base.html" %}

{% block jacascript %}

    <script src="{{ url_for('static', filename='script/setting.js') }}"></script>

{% endblock %}




{% block content %}
    <div ng-controller="settingsCtrl" layout="row" ng-cloak>
        <md-card flex="25" flex-gt-lg="20">
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line" ng-click="toggleFunction(func)"
                                  aria-label="settings" ng-repeat=" func in tasks">
                        <img ng-src="{% raw %}{{ '/static/icon/'+ func.icon }}{% endraw %}"
                             class="md-avatar" alt="Photo"/>
                        <div class="md-list-item-text">
                            <h3>{% raw %}{{func.taskName }} {% endraw %}</h3>
                            {#                            <p>{% raw %}{{ func.description }} {% endraw %}</p>#}
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
        </md-card>

        {#        <md-content style="width: 100%;">#}


        {#            <md-grid-list ng-style="setHeight()" style="z-index: 0"#}
        {#                          md-row-height="fit"#}
        {#                          md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"#}
        {#                          md-row-height-gt-md="fit"#}
        {#                          md-gutter="6px" md-gutter-gt-sm="4px">#}
        {#                <md-grid-tile class="gray" md-colspan="{% raw %}{{ func.colspan }}{% endraw %}"#}
        {#                              md-rowspan="{% raw %}{{ func.rowspan }}{% endraw %}" md-colspan-sm="1" md-colspan-xs="1"#}
        {#                              md-whiteframe ng-repeat="func in functions" ng-click="toggleFunction(func.taskKey)"#}
        {#                              ng-click="toggleFunction(func.taskKey)">#}
        {##}
        {#                    <md-grid-tile-header>#}
        {#                        <h3 ng-bind="func.taskName"></h3>#}
        {#                    </md-grid-tile-header>#}

        <md-card flex ng-style="setTableHeight()" ng-if="selectedFunc.taskKey=='userpermission'">

            <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column><span></span></th>
                                    <th md-column md-order-by="username"><span>User Name</span></th>
                                    <th md-column md-order-by="permissionText"><span>Permission</span></th>
                                    <th md-column md-order-by="email"><span>Email</span></th>
                                    <th md-column md-order-by="teamName"><span>Team Name</span></th>
                                    <th md-column md-order-by="companyName"><span>Company Name</span></th>
                                    <th md-column md-order-by="" ng-if="false"><span>Delete / Edit</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in users | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{  $index+(query.limit*(query.page-1))+1  }}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['username']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['permissionText']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['email']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['teamName']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['companyName']}}{% endraw %}</td>
                                    <td md-cell>
                                        <div layout flex="45" ng-if="false">
                                            <md-button ng-click="deleteUser(rec)"
                                                       class="md-icon-button">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_delete_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                            <md-button ng-click="editUser(rec)"
                                                       class="md-icon-button">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_edit_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div>
                                <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="addUser()" ng-if="false">
                                    <md-icon aria-label="Menu"
                                             md-svg-icon="{{ url_for('static', filename='icon/ic_add_white_48px.svg') }}"></md-icon>
                                </md-button>
                            </div>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{users.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card ng-style="setTableHeight()" flex ng-if="selectedFunc.taskKey =='databackup'">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column><span></span></th>
                                    <th md-column md-order-by="backupName"><span>Backup Name</span></th>
                                    <th md-column md-order-by="database"><span>Database #</span></th>
                                    <th md-column md-order-by="username"><span>Created By</span></th>
                                    <th md-column md-order-by="backupDate"><span>Created Date</span></th>
                                    <th md-column md-order-by=""><span>Delete / Restore / Download</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="rec in backupRecords | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{ $index+(query.limit*(query.page-1))+1 }}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['backupName']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['database'].length}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['username']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['backupDate']}}{% endraw %}</td>
                                    <td md-cell>
                                        <div layout flex="65">
                                            <md-button ng-click="deleteBackup(rec)"
                                                       class="md-icon-button">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_delete_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                            <md-button ng-click="restore(rec)"
                                                       class="md-icon-button" style="">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_restore_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                            <md-button ng-click="downloadbackup(rec)"
                                                       class="md-icon-button" style="">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_file_download_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div>
                                <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="backupsetting()">
                                    <md-icon aria-label="Menu"
                                             md-svg-icon="{{ url_for('static', filename='icon/ic_cloud_upload_white_48px.svg') }}"></md-icon>
                                </md-button>
                            </div>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{backupRecords.length}}{% endraw %}"
                                             md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card ng-style="setTableHeight()" flex
                 ng-if="selectedFunc.taskKey=='systemsettings'">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column><span></span></th>
                                    <th md-column md-order-by="group"><span>Setting Name</span></th>
                                    <th md-column md-order-by=""><span>Edit</span></th>

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="rec in settings | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{  $index+(query.limit*(query.page-1))+1  }}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{rec['group']}}{% endraw %}</td>

                                    <td md-cell>
                                        <div layout flex="45">
                                            <md-button ng-click="editSetting(rec)" style="margin-left: -10px"
                                                       class="md-icon-button">
                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_edit_black_48px.svg') }}"></md-icon>
                                            </md-button>
                                        </div>
                                    </td>

                                </tr>

                                </tbody>
                            </table>

                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{settings.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        <md-card ng-style="setTableHeight()" flex
                 ng-if="selectedFunc.taskKey=='datainitialization'">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column><span></span></th>
                                    <th md-column md-order-by="item"><span>Item</span></th>
                                    <th md-column md-order-by="sheetname"><span>Sheet Name</span></th>
                                    <th md-column md-order-by="orderlist"><span>Order</span></th>
                                    <th md-column md-order-by="upload_date"><span>Upload Date</span></th>
                                    <th md-column md-order-by=""><span>Upload / Download</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="dc in dataConf | orderBy: myOrder | limitTo: query.limit : (query.page -1) * query.limit">
                                    <td md-cell>{% raw %}{{  $index+(query.limit*(query.page-1))+1  }}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{ dc['item']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{ dc['sheetname']}}{% endraw %}</td>
                                    <td md-cell style="max-width: 200px;">{% raw %}{{
                                        dc['orderlistAlias']}}{% endraw %}</td>
                                    <td md-cell>{% raw %}{{ dc['upload_date']}}{% endraw %}</td>
                                    <td md-cell>
                                        <div layout flex="80">
                                            <md-button class="md-icon-button" aria-label="fileupload">
                                                <div ngf-select="fileSelected($files,dc)" accept=".xlsx">
                                                    <md-icon md-svg-src="{{ url_for('static', filename='icon/ic_cloud_upload_black_48px.svg') }}"
                                                             aria-label="Files upload"></md-icon>
                                                </div>
                                            </md-button>

                                            <md-button ng-click="downloadfile(dc)"
                                                       class="md-icon-button">

                                                <md-icon aria-label="Menu"
                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_file_download_black_48px.svg') }}"></md-icon>
                                            </md-button>


                                            {#                                            <md-button ng-click="uploadfile(dc)"#}
{#                                                       class="md-icon-button">#}
{#                                                <md-icon aria-label="Menu"#}
{#                                                         md-svg-icon="{{ url_for('static', filename='icon/ic_cloud_upload_black_48px.svg') }}"></md-icon>#}
{#                                            </md-button>#}
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div ng-if="false">
                                <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="addDataConf()">
                                    <md-icon aria-label="Menu"
                                             md-svg-icon="{{ url_for('static', filename='icon/ic_add_white_48px.svg') }}"></md-icon>
                                </md-button>
                            </div>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="[5,10,15]"
                                             md-total="{% raw %}{{dataConf.length}}{% endraw %}" md-page-select="false"
                                             md-boundary-links="true"></md-table-pagination>

        </md-card>

        {#                    <div style="width:100%;" ng-if="func.taskKey=='userpermission'&&func.rowspan==1">#}
        {#                        Total users: {% raw %} {{ users.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {#                    <div style="width:100%;" ng-if="func.taskKey=='databackup'&&func.rowspan==1">#}
        {#                        Total backups: {% raw %} {{ backupRecords.length }} {% endraw %}#}
        {#                        </div>#}
        {##}
        {#                    <div style="width:100%;" ng-if="func.taskKey=='systemsettings'&&func.rowspan==1">#}
        {#                        Total settings: {% raw %} {{ settings.length }} {% endraw %}#}
        {#                        </div>#}


        {##}
        {#                </md-grid-tile>#}
        {#            </md-grid-list>#}
        {#        </md-content>#}

    </div>

{% endblock %}
